

.registry-header {
    padding-top: 20px;
    padding-left: 20px;
}

.registry-image {
    display: flex;
}

.registry-title {
    font-size: 32px;
    font-weight: 700;
    margin-left: 32px;
}

.registry-repo {
    margin-top: 16px;
    margin-left: 32px;
    font-family: "Source Code Pro", monospace;
}

.registry-image-table {
    margin-bottom: 32;
}

.registry-digest {
    margin-top: 8px;
    margin-left: 48px;
    font-family: "Source Code Pro", monospace;
}

/* TODO(iain): get jim to make this look nice-ish */
.registry-tag {
    margin-top: 8px;
    margin-left: 16px;
    font-family: "Source Code Pro", monospace;
}

.registry-image-table {
    margin-left: 48px;
}

.registry-image-header {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #eee;
}
.registry-image-digest-header {
    width: 740px;
}

.registry-image-tags-header {
    width: 200px;
}

.registry-image-size-header {
    width: 80px;
}

.registry-image-uploaded-header {
    width: 200px;
}

.registry-image-laccess-header {
    width: 200px;
}

.registry-image-accesses-header {
    width: 100px;
}

.registry-image-digest {
    font-family: "Source Code Pro", monospace;
    text-decoration: underline;
    margin-left: 8px;
    margin-right: 8px;
}

.registry-image-tag {
    margin-left: 8px;
    margin-right: 8px;
}

.registry-image-size {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

.registry-image-uptime {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

.registry-image-atime {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

.registry-image-accesses {
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

.image-digest {
    margin-top: 16px;
    margin-left: 40px;
    font-family: "Source Code Pro", monospace;
}

.image-tags {
    margin-top: 16px;
    margin-left: 40px;
}

.image-tag {
    margin-top: 16px;
    margin-left: 16px;
    font-family: "Source Code Pro", monospace;
}

.image-size {
    margin-top: 16px;
    margin-left: 40px;
}

.image-uptime {
    margin-top: 16px;
    margin-left: 40px;
}

.image-latime {
    margin-top: 16px;
    margin-left: 40px;
}

.image-accesses {
    margin-top: 16px;
    margin-left: 40px;
}

.image-pull {
    margin-top: 16px;
    margin-left: 40px;
    margin-right: 40px;
}
