.reviews {
  padding: 0;
  display: grid;
  width: 100%;
  overflow: hidden;
  grid-template-columns:
    max-content /* PR */
    max-content /* Author */
    max-content /* Status */
    max-content /* Updated */
    1fr /* Reviewers */
    max-content /* Size */
    2fr /* Description */;
}

.reviews .reviews-title {
  font-weight: 700;
  padding: 32px 0 8px 0;
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 8px;
}

.reviews .change-count {
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
}

.reviews .reviews-title,
.reviews .empty-state {
  width: 100%;
  grid-column: 1 / -1;
  padding: 0 16px;
}

.reviews .pr {
  display: contents;
}

.reviews .pr-rows {
  display: contents;
}

.reviews .pr-rows .pr:nth-child(odd) > div {
  background-color: #f0f0f0;
}

.reviews .pr-header {
  color: #666;
  display: contents;
}

.reviews .pr > div {
  padding: 6px 8px;
}

.reviews .pr > div:first-child {
  padding-left: 16px;
}

.reviews .pr-status {
  text-transform: capitalize;
}

.reviews .pr-review-approved {
  color: #4caf50;
}

.reviews .pr-review-requested {
  font-weight: 600;
}

.reviews .pr-status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reviews .pr-status:before {
  display: block;
  content: " ";
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.reviews .pr-status:before {
  background-color: #ffc107;
}

.reviews .pr-status-approved:before,
.reviews .pr-status-mergeable:before {
  background-color: #4caf50;
}

.reviews .empty-state {
  margin-top: 8px;
  color: #666;
}

.pr-view {
  padding: 0;
  font-size: 14px;
}

.pr-view .summary-section {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 0;
}

.pr-view .review-header {
  padding: 32px 32px 16px;
  line-height: 36px;
  font-size: 32px;
  background-color: #f8f8f8;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

.pr-view .header-separator {
  height: 6px;
  grid-column: span 2;
  background-color: #ffc107;
}

.pr-view.submitted .header-separator {
  background-color: #9e9e9e;
}

.pr-view.approved .header-separator {
  background-color: #8bc34a;
}

.pr-view .review-title {
  vertical-align: top;
}

.pr-view .review-number {
  font-weight: 600;
  display: inline-block;
}

.pr-view .review-details {
  font-size: 16px;
  vertical-align: baseline;
  display: inline-block;
  padding-right: 8px;
  color: rgba(0, 0, 0, 0.8);
}

.pr-view .review-cell {
  padding: 16px 32px;
  background-color: #ffecb3;
}

.pr-view.approved .icon {
  stroke: #8bc34a;
}

.pr-view .review-actions {
  display: flex;
  gap: 8px;
}

.pr-view .review-actions .filled-button {
  background-color: #d32f2f;
}

.pr-view .description {
  padding: 12px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  background-color: #fff;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
  min-height: 150px;
  max-height: 400px;
  overflow-y: auto;
}

.pr-view.submitted .review-cell,
.pr-view.submitted .single-file-header {
  background-color: #fafafa;
}

.pr-view.approved .review-cell,
.pr-view.approved .single-file-header {
  background-color: #f1f8e9;
}

.pr-view .attr-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 4px;
  column-gap: 24px;
}

.pr-view .attr-label {
  color: #424242;
}

.pr-view .file-section table {
  /* don't use border-spacing so that hover looks nice */
  border-spacing: 0;
  padding: 0 32px;
  width: 100%;
}

.pr-view .file-section td,
.pr-view .file-section th {
  width: auto;
  white-space: nowrap;
  font-size: 14px;
  padding: 2px 4px;
}

.pr-view .file-section td input {
  margin: 0 6px 0 0;
  padding: 0;
}

.pr-view .file-section td.diff-file-name,
.pr-view .file-section th.diff-file-name {
  width: 100%;
}

.pr-view .file-section .file-list-row {
  cursor: pointer;
}

.pr-view .file-section .file-list-row:hover {
  background-color: #e0e0e0;
}

.pr-view .diff-header {
  background-color: #e1f5fe;
  font-size: 12px;
  line-height: 16px;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 6px 8px;
}

.pr-view .source-line-pair {
  font-size: 12px;
  line-height: 16px;
  min-height: 16px;
  font-family: "Source Code Pro", monospace;
  background-color: #f5f5f5;
}

.pr-view .reply-bar {
  padding: 8px 12px;
  line-height: 18px;
}

.pr-view .reply-fake-link {
  margin-right: 24px;
  cursor: pointer;
  color: #3f51b5;
  font-weight: 600;
  text-decoration: underline;
}

.pr-view .source-line-number,
.pr-view .thread-line-number-space {
  width: 52px;
  display: inline-block;
  margin: 0;
  background-color: #f5f5f5;
  text-align: end;
  box-sizing: border-box;
  padding-right: 8px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);
}

.pr-view .thread-line-number-space {
  display: table-cell;
}

.pr-view .source-line {
  width: calc(50% - 52px);
  display: inline-block;
  background-color: #fff;
  margin: 0;
  vertical-align: top;
  min-height: 16px;
  white-space: pre-wrap;
}

.pr-view .source-line.empty {
  background-color: #f5f5f5;
}

.pr-view .comment-block {
  background-color: #fff;
}

.pr-view .threads {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.pr-view .comment-input {
  resize: vertical;
  width: 100%;
  height: 120px;
}

.pr-view .thread-block {
  background-color: #f5f5f5;
  box-sizing: border-box;
  display: table-row;
}

.pr-view .thread-empty-side {
  width: calc(50% - 52px);
  display: inline-block;
  background-color: #f5f5f5;
  display: table-cell;
}

.pr-view .thread-container {
  width: calc(50% - 52px);
  margin: 0;
  box-sizing: border-box;
  padding: 4px;
  display: inline-block;
  vertical-align: top;
  display: table-cell;
}

.pr-view .reply-modal-thread-container {
  margin: 12px 0;
}

.pr-view .thread {
  display: inline-block;
  background-color: #ffecb3;
  vertical-align: top;
  min-height: 16px;
  white-space: normal;
  font-size: 13px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 0 4px #ccc;
}

.pr-view .thread.resolved {
  background-color: #e0e0e0;
}

.pr-view .resolution-pill-box {
  width: 100px;
  display: inline-block;
}

.pr-view .resolution-pill {
  border-radius: 8px;
  line-height: 16px;
  padding: 0 8px;
  background-color: #ffd54f;
  color: #795548;
  font-weight: 600;
}

.pr-view .resolution-pill.resolved {
  background-color: #bdbdbd;
  color: #616161;
}

.pr-view .thread-comment {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 8px 12px;
}

.pr-view .comment-divider {
  height: 0.5px;
  background-color: #bbb;
  width: calc(100% - 20px);
  margin: 0 10px;
}

.pr-view .comment-author {
  flex: 0 0 140px;
  display: inline-block;
}

.pr-view .comment-author-text {
  font-weight: 600;
}

.pr-view .comment-timestamp {
  color: #9e9e9e;
}

.pr-view .comment-body {
  flex-grow: 1;
  display: inline-block;
}

.pr-view .action-status {
  display: inline-block;
  border-radius: 4px;
  background-color: #e0e0e0;
  padding: 0 4px;
  margin: 0 2px 2px 0;
  font-size: 12px;
  white-space: nowrap;
}

.pr-view .action-status.failure {
  border-radius: 6px;
  background-color: #f44336;
  color: #fff;
}

.pr-view .source-line.right.new,
.pr-view .source-line.right.modified {
  background-color: #c8e6c9;
}

.pr-view .source-line.left.new,
.pr-view .source-line.left.modified {
  background-color: #ffcdd2;
}

.pr-view .source-line.right.new,
.pr-view .source-line.right.modified {
  background-color: #c8e6c9;
}

.pr-view .source-line.left.new,
.pr-view .source-line.left.modified {
  background-color: #ffcdd2;
}

.pr-view .review-cell.header {
  padding: 8px 32px;
  background-color: #e1f5fe;
  font-weight: 600;
}

.pr-view .file-list-header {
  font-weight: 600;
  color: #424242;
}

.pr-view .reviewer.strong {
  font-weight: 600;
}

.pr-view .reviewer.approved {
  color: #4caf50;
}

.pr-view .reply-modal-approve-button {
  margin: 12px 0 0 0;
}

.pr-view .file-list-diff td {
  padding: 0;
}

.pr-view .single-file-header {
  padding: 8px 32px;
  background-color: #ffecb3;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

.pr-view .single-file-name {
  font-weight: 600;
}

.pr-view .monaco-thread {
  box-sizing: border-box;
  padding: 12px 2px 12px 50px;
  width: 100%;
}

.pr-view .monaco-editor .cursors-layer > .cursor {
  display: none !important;
}
