.reviews {
  padding: 0;
  display: grid;
  width: 100%;
  overflow: hidden;
  grid-template-columns:
    max-content /* PR */
    max-content /* Author */
    max-content /* Status */
    max-content /* Updated */
    1fr /* Reviewers */
    max-content /* Size */
    2fr /* Description */;
}

.reviews .reviews-title {
  font-weight: 700;
  padding: 32px 0 8px 0;
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 8px;
}

.reviews .change-count {
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
}

.reviews .reviews-title,
.reviews .empty-state {
  width: 100%;
  grid-column: 1 / -1;
  padding: 0 16px;
}

.reviews .pr {
  display: contents;
}

.reviews .pr-rows {
  display: contents;
}

.reviews .pr-rows .pr:nth-child(odd) > div {
  background-color: #f0f0f0;
}

.reviews .pr-header {
  color: #666;
  display: contents;
}

.reviews .pr > div {
  padding: 6px 8px;
}

.reviews .pr > div:first-child {
  padding-left: 16px;
}

.reviews .pr-status {
  text-transform: capitalize;
}

.reviews .pr-review-approved {
  color: #4caf50;
}

.reviews .pr-review-requested {
  font-weight: 600;
}

.reviews .pr-status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reviews .pr-status:before {
  display: block;
  content: " ";
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.reviews .pr-status:before {
  background-color: #ffc107;
}

.reviews .pr-status-approved:before {
  background-color: #4caf50;
}

.reviews .empty-state {
  margin-top: 8px;
  color: #666;
}
