.bazelrc-sidekick .bazelrc-header {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.bazelrc-sidekick .bazelrc-empty-state button,
.bazelrc-sidekick .bazelrc-header button {
  border: 2px solid #222;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.bazelrc-sidekick .bazelrc-empty-state button .shortcut,
.bazelrc-sidekick .bazelrc-header button .shortcut {
  color: #888;
  font-weight: 400;
}

.bazelrc-sidekick .bazelrc-empty-state button {
  font-size: 1.1em;
  margin: 0 auto;
}

.bazelrc-sidekick .flag-input-options {
  overflow-y: auto;
  max-height: 100%;
}

.bazelrc-sidekick .flag-input-option {
  display: flex;
  padding: 0 16px;
}

.bazelrc-sidekick .flag {
  width: 100%;
  margin: 8px 0;
}

.bazelrc-sidekick .flag img.flag-image {
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
  border-radius: 4px;
}

.bazelrc-sidekick .flag-header {
  display: flex;
  gap: 16px;
  flex-shrink: 0;
  margin-bottom: 8px;
  align-items: center;
}

.bazelrc-sidekick .flag-name {
  font-weight: 700;
  font-size: 1.4em;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  white-space: nowrap;
}

.bazelrc-sidekick .flag-stats {
  display: flex;
  gap: 8px 16px;
  align-items: center;
  font-weight: 400;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.bazelrc-sidekick .flag-stats a {
  text-decoration: none;
}

.bazelrc-sidekick .flag-stats svg {
  flex-shrink: 0;
}

.bazelrc-sidekick .flag-stats div {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.bazelrc-sidekick .flag-description {
  margin-top: 8px;
  color: #999;
  line-height: 1.4em;
}

.bazelrc-sidekick .flag-remove {
  background-color: #ef9a9a;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin-left: 8px;
}

.bazelrc-sidekick .flag-remove:hover {
  cursor: pointer;
  background-color: #f44336;
}

.bazelrc-sidekick .flag-remove svg {
  stroke: #fff;
  width: 12px;
  height: 12px;
}

.bazelrc-sidekick .flag-update {
  background-color: #a5d6a7;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin-left: 8px;
}

.bazelrc-sidekick .flag-update:hover {
  cursor: pointer;
  background-color: #4caf50;
}

.bazelrc-sidekick .flag-update svg {
  stroke: #fff;
  width: 12px;
  height: 12px;
}

.bazelrc-sidekick .flag-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  padding: 24px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px) saturate(25%);

  z-index: 1000;
}

.bazelrc-sidekick .flag-modal {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  max-height: 80vh;
  width: 50vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bazelrc-sidekick .flag-modal input {
  width: calc(100% - 32px);
  padding: 16px;
  margin: 16px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.2em;
  border: 2px solid #000;
  outline: none;
  border-radius: 4px;
}

.bazelrc-sidekick .flag-input-option.selected {
  background-color: #eee;
}

.bazelrc-sidekick .bazelrc-empty-state {
  font-size: 1.1em;
  margin-top: 32px;
  text-align: center;
}

.bazelrc-sidekick .bazelrc-controls {
  display: flex;
  gap: 8px;
  margin: 16px 0 16px 0;
}

.bazelrc-sidekick .bazelrc-controls > div {
  flex-grow: 1;
}

.bazelrc-sidekick .flag-properties {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  font-size: 0.9em;
}

.bazelrc-sidekick .flag-value {
  background-color: #03a9f4;
  color: #fff;
  padding: 2px 12px;
  border-radius: 16px;
}

.bazelrc-sidekick .flag-command {
  background-color: #eeeeee;
  padding: 2px 12px;
  border-radius: 16px;
}

.bazelrc-sidekick .flag-config {
  background-color: #444;
  color: #fff;
  padding: 2px 12px;
  border-radius: 16px;
}
