app:
  no_default_user_group: true
  create_group_per_user: true
  add_user_to_domain_group: true
  code_editor_enabled: true
  default_redis_target: "localhost:6379"
  enable_target_tracking: true
  user_owned_keys_enabled: true
  streaming_http_enabled: true
  invocation_log_streaming_enabled: true
database:
  data_source: "sqlite3:///tmp/${USER}-buildbuddy-enterprise.db"
#olap_database:
#data_source: "clickhouse://default:@127.0.0.1:9000/buildbuddy_local"
storage:
  ttl_seconds: 86400 # One day in seconds.
  disk:
    root_directory: /tmp/${USER}_buildbuddy_enterprise
  enable_chunked_event_logs: true
  tempdir: /tmp/${USER}
cache:
  max_size_bytes: 1000000000
  distributed_cache:
    redis_target: "localhost:6497"
  migration:
    copy_chan_buffer_size: 200000
    max_copies_per_sec: 100
    num_copy_workers: 5
    copy_chan_full_warning_interval_min: 60
    double_read_percentage: 0.1
    src:
      distributed:
        replication_factor: 3
        cluster_size: 4
        listen_addr: ${LISTEN_ADDR}
      pebble:
        name: "pebble_cache"
        active_key_version: 5
        root_directory: ${ROOT_DIRECTORY}
    dest:
      meta:
        name: "meta_cache"
        metadata_backend: "grpc://127.0.0.1:1970"
        gcs:
          bucket: ${USER}_matacache_test
          project_id: "flame-build"
          credentials: ${SECRET:BB_DEV_APP_SERVICE_ACCOUNT_CREDENTIALS}
          app_name: ${USER}-local-metacache
          ttl_days: 4
        max_inline_file_size_bytes: 16385

auth:
  enable_anonymous_usage: true
  enable_self_auth: true
  # oauth_providers:
  #   - issuer_url: "https://accounts.google.com"
  #     client_id: "${BB_DEV_OAUTH_CLIENT_ID}"
  #     client_secret: "${BB_DEV_OAUTH_CLIENT_SECRET}"
github:
  client_id: "${BB_DEV_GITHUB_CLIENT_ID}"
  client_secret: "${BB_DEV_GITHUB_CLIENT_SECRET}"
