app:
  no_default_user_group: true
  create_group_per_user: true
  add_user_to_domain_group: true
  code_editor_enabled: true
  default_redis_target: "localhost:6379"
  enable_target_tracking: true
database:
  data_source: "sqlite3:///tmp/buildbuddy-enterprise.db"
#olap_database:
#data_source: "clickhouse://default:@127.0.0.1:9000/buildbuddy_local"
storage:
  ttl_seconds: 86400 # One day in seconds.
  disk:
    root_directory: /tmp/buildbuddy_enterprise
cache:
  disk:
    root_directory: /tmp/buildbuddy-enterprise-cache
auth:
  enable_anonymous_usage: true
  enable_self_auth: true
  # oauth_providers:
  #   - issuer_url: "https://accounts.google.com"
  #     client_id: "${BB_DEV_OAUTH_CLIENT_ID}"
  #     client_secret: "${BB_DEV_OAUTH_CLIENT_SECRET}"
github:
  client_id: "${BB_DEV_GITHUB_CLIENT_ID}"
  client_secret: "${BB_DEV_GITHUB_CLIENT_SECRET}"
