.secrets,
.delete-secret-dialog {
  --secret-color: #00796b;
}

.secrets-list .secrets-table {
  padding: 8px 0;
}

.secrets-list .lock-icon {
  width: 20px;
  height: 20px;
  stroke: var(--secret-color);
}

.secrets-list .secret-name {
  color: var(--secret-color);
}

.secrets-list .secrets-row {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.secrets-list .secrets-row:first-child {
  border-top: 1px solid #eee;
}

.secrets-list .secrets-row > * {
  flex-shrink: 0;
}

.secrets-list .secret-name {
  flex-shrink: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secrets-list .edit-button {
  margin-left: auto;
}

.delete-secret-dialog .secret-name {
  color: var(--secret-color);
}

.update-secret {
  max-width: 600px;
}

.update-secret .secrets-form label {
  font-weight: 600;
}

.update-secret .form-field-group {
  display: flex;
  flex-direction: column;
}

.update-secret .secrets-form > * {
  margin-bottom: 16px;
}

.update-secret :is(input, textarea) {
  margin-top: 8px;
  font-family: var(--code-font);
}

.update-secret .secrets-form textarea {
  min-height: 300px;
}

.update-secret .secret-name {
  color: var(--secret-color);
}

.update-secret .caption {
  color: #616161;
  font-size: 14px;
}

.update-secret .text-input {
  width: 100%;
}

.update-secret .secrets-breadcrumbs {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: 18px;
  margin-bottom: 24px;
}

.update-secret .secrets-breadcrumb {
  display: flex;
  gap: 8px;
}

.update-secret .secrets-breadcrumb:not(:last-child)::after {
  display: block;
  content: "›";
}

.update-secret .secrets-breadcrumb:last-child {
  font-weight: 600;
}

.update-secret .submit-button {
  display: flex;
  gap: 8px;
}
