.action-timeline {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin: 4px 0;
}

.action-timeline .timeline-event {
  color: white;
  display: flex;
  align-items: center;
  width: 0;
}

.action-timeline .timeline-event-label {
  width: 100%;
  padding: 2px 4px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.action-timeline .event-name {
  font-weight: 600;
}

.action-line {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid rgb(238, 238, 238);
}

.action-title {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  margin-bottom: 16px;
}

.action-list {
  display: block;
  color: #222;
}

.action-section {
  display: flex;
  margin-bottom: 16px;
}

.action-section div {
  flex-grow: 1;
}

.action-section div.action-property-title {
  width: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  word-break: break-word;
  text-align: right;
  margin-right: 16px;
  font-weight: 700;
}

.cache-sections {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.cache-section {
  min-width: 350px;
  width: calc(50% - 32px);
  margin-bottom: 32px;
  margin-right: 32px;
}

.cache-title {
  margin-top: 32px;
  font-weight: 700;
  display: flex;
  font-size: 20px;
}

.cache-subtitle {
  margin-bottom: 24px;
  margin-top: 4px;
  color: #888;
}

.cache-chart {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.cache-chart-container {
  height: 80px;
  width: 80px;
  margin-right: 32px;
}

.cache-stat {
  font-weight: 600;
  font-weight: 20px;
}

.cache-chart-label {
  display: flex;
  align-items: center;
}

.color-swatch {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 8px;
  display: block;
  background-color: #eee;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .button {
  flex-grow: 0;
}

.button .download-gz-file {
  font-size: 14px;
}

.download-color-swatch {
  background-color: #03a9f4;
}

.upload-color-swatch {
  background-color: #607d8b;
}

.cache-hit-color-swatch {
  background-color: #4caf50;
}

.cache-miss-color-swatch {
  background-color: #f44336;
}

.no-cache-stats {
  margin-top: 32px;
  font-size: 16px;
}

.fetch-url {
  font-weight: 300;
  text-decoration: italic;
  margin-top: 8px;
}

.dense-invocation {
  display: flex;
  justify-content: space-between;
}

.invocation .breadcrumbs-and-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 8px;
}

.invocation .breadcrumbs-and-buttons .breadcrumbs {
  width: 260px;
  flex-grow: 10;
}

.invocation-share-button img {
  margin-right: 12px;
  margin-left: -4px;
  width: 16px;
  height: 16px;
}

.invocation-share-dialog .row {
  display: flex;
  flex-direction: row;
}

.invocation-share-dialog .row > :not(:last-child) {
  margin-right: 8px;
}

.invocation-share-dialog .link-input {
  flex-grow: 1;
  text-overflow: ellipsis;
}

.invocation-share-dialog > :not(:last-child) {
  margin-bottom: 32px;
}

.invocation-share-dialog .visibility-explanation {
  margin-top: 8px;
  color: #333;
}

.invocation-share-dialog select {
  min-width: 50%;
}

.invocation-share-dialog .visibility-header {
  font-weight: 600;
  margin-bottom: 8px;
}

.invocation-share-dialog .changing-permissions-disabled-explanation {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  background: #e1f5fe;
}

.invocation-share-dialog .error-message {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  background: #ffebee;
}

.invocation-share-dialog-footer .loading-message {
  flex-shrink: 0;
}

.invocation-execution-table {
  margin-top: 16px;
}

.invocation-execution-row {
  display: flex;
  margin-top: 16px;
  border-top: 1px solid #eee;
  padding-top: 16px;
}

.invocation-execution-row-image {
  margin-right: 16px;
}

.invocation-execution-row-image .rotating {
  animation: rotate 2s linear infinite;
}

.invocation-execution-row-stats {
  color: #aaa;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
}

.invocation-execution-row-digest {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 4px;
  cursor: pointer;
}

.invocation-execution-row-stats div {
  margin-right: 8px;
}

.invocation-execution-empty-state {
  margin-top: 32px;
}

.invocation-top-right-buttons {
  display: flex;
  align-items: center;
  margin-left: 8px;
  flex-shrink: 0;
  justify-content: flex-end;
  flex-grow: 1;
}

.invocation-top-right-buttons > :not(:last-child) {
  margin-right: 8px;
}

.invocation-compare-button-container {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.comparison-buffer-illustration {
  display: flex;
  align-items: center;
  margin-left: -4px;
  margin-right: 8px;

  --illustration-color: #ddd;
}

.base-button:hover .comparison-buffer-illustration,
.comparison-buffer-illustration.buffered {
  --illustration-color: #263238;
}

.comparison-buffer-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 100ms;
}

.comparison-buffer-icon-a {
  background: var(--illustration-color);
  margin-right: 4px;
}

.comparison-buffer-icon-b {
  background: transparent;
  border: 1px solid var(--illustration-color);
}

.invocation-menu-container {
  position: relative;
}

.invocation-menu-container .base-button.invocation-menu-button {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  justify-content: center;
}

.invocation-delete-dialog .error-description {
  margin-top: 16px;
  background: #ffebee;
  padding: 16px;
  border-radius: 8px;
}

.invocation-sort-title {
  margin-right: 8px;
}

.invocation-sort-controls {
  display: flex;
  align-items: center;
}

.invocation-content-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 8px;
}

.metadata-title {
  text-decoration: underline;
  font-weight: 600;
  color: #222;
}

.metadata-detail {
  font-weight: 300;
  color: #444;
}

.prop-name {
  color: #222;
  font-weight: 600;
}

.prop-value {
  color: #444;
}

.prop-value .detail {
  color: #aaa;
}

.workflow-rerun-button > :not(:last-child) {
  margin-right: 8px;
}

.workflow-rerun-button img {
  width: 16px;
  height: 16px;
}

.workflow-rerun-button .loading {
  --spinner-size: 18px;

  width: var(--spinner-size);
  height: var(--spinner-size);
  margin-left: -2px;
}

.workflow-rerun-button .loading::before {
  width: var(--spinner-size);
  height: var(--spinner-size);
}

.invocation-query-graph-card {
  padding: 0;
  background: #fafafa;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.invocation-query-graph-card:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.1);
}

svg.invocation-query-graph {
  width: 100%;
  cursor: all-scroll;
}

svg.invocation-query-graph .nodes {
  fill: #fff;
  stroke: #263238;
  stroke-width: 4px;
}
svg.invocation-query-graph .nodes text {
  fill: #000;
}

svg.invocation-query-graph path {
  stroke: #263238;
  fill: #263238;
  stroke-width: 2px;
}

svg.invocation-query-graph .nodes text {
  stroke-width: 0;
  font-size: 0.9em;
}

svg.invocation-query-graph .nodes rect {
  rx: 8px;
  ry: 8px;
}
