.cache-sections {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.cache-section {
  min-width: 350px;
  width: calc(50% - 32px);
  margin-bottom: 32px;
  margin-right: 32px;
}

.cache-title {
  margin-top: 32px;
  font-weight: 700;
  display: flex;
  font-size: 20px;
}

.cache-subtitle {
  margin-bottom: 24px;
  margin-top: 4px;
  color: #888;
}

.cache-chart {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.cache-chart-container {
  height: 80px;
  width: 80px;
  margin-right: 32px;
}

.cache-stat {
  font-weight: 600;
  font-weight: 20px;
}

.cache-chart-label {
  display: flex;
  align-items: center;
}

.color-swatch {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 8px;
  display: block;
  background-color: #eee;
}

.download-color-swatch {
  background-color: #03a9f4;
}

.upload-color-swatch {
  background-color: #607d8b;
}

.cache-hit-color-swatch {
  background-color: #4caf50;
}

.cache-miss-color-swatch {
  background-color: #f44336;
}

.no-cache-stats {
  margin-top: 32px;
  font-size: 16px;
}

.dense-invocation {
  display: flex;
  justify-content: space-between;
}

.invocation .breadcrumbs-and-buttons {
  display: flex;
  justify-content: space-between;
}

.invocation-share-button img {
  margin-right: 12px;
  margin-left: -4px;
  width: 16px;
  height: 16px;
}

.invocation-share-dialog .row {
  display: flex;
  flex-direction: row;
}

.invocation-share-dialog .row > :not(:last-child) {
  margin-right: 8px;
}

.invocation-share-dialog .link-input {
  flex-grow: 1;
  text-overflow: ellipsis;
}

.invocation-share-dialog > :not(:last-child) {
  margin-bottom: 16px;
}

.invocation-share-dialog .visibility-explanation {
  margin-top: 8px;
  color: #333;
}

.invocation-share-dialog select {
  min-width: 50%;
}

.invocation-share-dialog .visibility-header {
  font-weight: 600;
  margin-bottom: 8px;
}

.invocation-share-dialog .changing-permissions-disabled-explanation {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  background: #e1f5fe;
}

.invocation-share-dialog .error-message {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  background: #ffebee;
}

.invocation-share-dialog-footer .loading-message {
  flex-shrink: 0;
}

.invocation-execution-table {
  margin-top: 16px;
}

.invocation-execution-row {
  display: flex;
  margin-top: 16px;
  border-top: 1px solid #eee;
  padding-top: 16px;
}

.invocation-execution-row-image {
  margin-right: 16px;
}

.invocation-execution-row-image .rotating {
  animation: rotate 2s linear infinite;
}

.invocation-execution-row-stats {
  color: #aaa;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
}

.invocation-execution-row-digest {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 4px;
}

.invocation-execution-row-stats div {
  margin-right: 8px;
}

.invocation-execution-empty-state {
  margin-top: 32px;
}

.invocation-top-right-buttons {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.invocation-top-right-buttons > :not(:last-child) {
  margin-right: 8px;
}

.invocation-compare-button-container {
  position: relative;
  z-index: 1;
}

.comparison-buffer-illustration {
  display: flex;
  align-items: center;
  margin-left: -4px;
  margin-right: 8px;

  --illustration-color: #ddd;
}

.base-button:hover .comparison-buffer-illustration,
.comparison-buffer-illustration.buffered {
  --illustration-color: #263238;
}

.comparison-buffer-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 100ms;
}

.comparison-buffer-icon-a {
  background: var(--illustration-color);
  margin-right: 4px;
}

.comparison-buffer-icon-b {
  background: transparent;
  border: 1px solid var(--illustration-color);
}

.invocation-not-found .titles {
  background: #eceff1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;

  display: inline-flex;
  align-items: center;
  margin-top: 16px;
}

.invocation-not-found .title {
  margin-bottom: 0;
}

.invocation-not-found .not-found-icon {
  width: 32px;
  height: 32px;
  margin-right: 24px;
  margin-left: 12px;
}
