# Build with --config=local to send build logs to your local server
build:local --bes_results_url=http://localhost:8080/invocation/
build:local --bes_backend=grpc://localhost:1985
build:local --remote_cache=grpc://localhost:1985

build:local-grpcs --bes_results_url=http://localhost:8080/invocation/
build:local-grpcs --bes_backend=grpcs://localhost:1986/
build:local-grpcs --remote_cache=grpcs://localhost:1986/
build:local-grpcs --tls_certificate=/Users/siggi/Desktop/ca.crt
build:local-grpcs --tls_client_certificate=/Users/siggi/Desktop/client.crt
build:local-grpcs --tls_client_key=/Users/siggi/Desktop/client.pem


build:local-header --bes_results_url=http://localhost:8080/invocation/
build:local-header --bes_backend=grpc://localhost:1985/
build:local-header --remote_cache=grpc://localhost:1985/

# Authenticated urls
# try-import ~/.bazelrc
build:local-header --bes_backend=grpc://fooboink@localhost:1985/
build:local-header --remote_cache=grpc://fooboink@localhost:1985/

# Authentication via certificates
#build:local-grpcs --tls_client_certificate=/Users/siggi/Desktop/client.crt
#build:local-grpcs --tls_client_key=/Users/siggi/Desktop/client.pem

# This command works
# bazel build --config=local-grpcs server
# TODO:
# - Call GetCredentials on UI side and display/download
# - Instructions on how to configure this
# - Consolidate SSLService creation into one spot - probably store in environment
# - Store API key maybe in a field that's not CommonName
# - Add route for API key that's not certificate based

# Build with --config=dev to send build logs to the dev server
build:dev --bes_results_url=https://app.buildbuddy.dev/invocation/
build:dev --bes_backend=grpcs://events.buildbuddy.dev:1986

# Build with --config=dev-cache to send build logs to the dev server with cache
build:dev-cache --bes_results_url=https://app.buildbuddy.dev/invocation/
build:dev-cache --bes_backend=grpcs://events.buildbuddy.dev:1986
build:dev-cache --remote_cache=grpcs://cache.buildbuddy.dev:1986

# Build with --config=cache to send build logs to the production server with cache
build:cache --bes_results_url=https://app.buildbuddy.io/invocation/
build:cache --bes_backend=grpcs://events.buildbuddy.io:1986
build:cache --remote_cache=grpcs://cache.buildbuddy.io:1986

# By default, build logs get sent to the production server
build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://events.buildbuddy.io:1986

# Recommended if connecting to a remote (upload speed constrained) BuildBuddy instance
build --noremote_upload_local_results # Uploads logs & artifacts without writing to cache
