# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Bazel directories
bazel-*

# Node dependencies
node_modules

# User specific .bazelrc
user.bazelrc

# BuildBuddy certs
buildbuddy-cert.pem
buildbuddy-key.pem