{
  "jsc": {
    "target": "es2016",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      },
      "hidden": {
        "jest": true
      }
    }
  },
  "module": {
    "type": "es6",
    "strict": false,
    "strictMode": true,
    "noInterop": false
  }
}
