.digest-component {
  display: inline-flex;
  align-items: center;
  color: #000;
  border-radius: 4px;
  overflow: hidden;
}

.digest-component-hash {
  padding: 0 8px;
  max-width: 64px;
  min-width: 24px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.5s ease;
}

.digest-component .digest-component-hash.fixed-width,
.digest-component .digest-component-size.fixed-width {
  max-width: initial;
  min-width: initial;
  box-sizing: border-box;
}

.digest-component.expand-on-hover .digest-component-hash:hover {
  max-width: 500px;
}

.digest-component.expanded .digest-component-hash {
  max-width: initial;
}

.digest-component.expanded .digest-component-hash:hover {
  max-width: initial;
}

.digest-component-size {
  padding: 0 8px;
  display: inline-block;
  white-space: nowrap;
  background-color: #eee;
}
