.markdown a {
  color: #000;
  background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="1" y2="1" stroke="rgba(84,110,122 ,.3)" /></svg>');
  background-size: 1px 1px;
  background-position: 0 calc(1em + 1px);
  font-weight: 500;
  background-repeat: repeat-x;
}

html[data-theme="dark"] .markdown a {
  color: #aef0ff;
}

.markdown a.hash-link {
  background-image: none;
}

.markdown tbody {
  /* Top align for table cells looks better when some cells can have long contents. */
  vertical-align: top;
}

.markdown tr:nth-child(2n) {
  /* Remove striped background on odd rows */
  background-color: initial;
}

.docusaurus-highlight-code-line {
  background-color: #37474f;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
.mdx-page h2 {
  --ifm-h2-font-size: 2rem;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

a code {
  background-image: none !important;
  box-shadow: -4px 0px 0px 0px white, 4px 0px 0px 0px white;
  margin: 0 4px;
}
