.sign-up {
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid rgb(231, 231, 231);
  display: block;
  margin-right: 32px;
  font-weight: 600;
}

@media (max-width: 996px) {
  .sign-up {
    display: none;
  }

  .navbar-sidebar .sign-up {
    display: block;
  }
}

.aa-DetachedSearchButton {
  border: none !important;
}

.aa-DetachedSearchButtonPlaceholder {
  display: none;
}

.sign-up:hover {
  background-color: rgb(231, 231, 231);
}

html[data-theme="dark"] .sign-up:hover {
  background-color: rgba(231, 231, 231, 0.1);
}

.navbar__brand {
  height: 40px;
}

.navbar {
  border-bottom: 1px solid #f4f4f4;
}

html[data-theme="dark"] .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-of-contents {
  border-left: 1px solid #eee;
}

html[data-theme="dark"] .table-of-contents {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.menu {
  border-right: 1px solid #f4f4f4;
}

html[data-theme="dark"] .menu {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.blog-sidebar {
  border-left: 1px solid #eee;
  padding-left: 32px;
  position: sticky;
  overflow-y: auto;
  top: calc(var(--ifm-navbar-height) + 2rem);
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
}

html[data-theme="dark"] .blog-sidebar {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.aa-DetachedSearchButton {
  /* padding-right: 32px !important; */
  border-radius: 32px !important;
  cursor: pointer;
  padding-right: 8px;
}

.aa-Form {
  border-radius: 32px !important;
  margin: 8px !important;
}

.aa-Form:focus-within {
  box-shadow: rgba(38, 50, 56, 0.1) 0 0 0 2px, inset rgba(38, 50, 56, 0.1) 0 0 0 2px !important;
}

.dsla-search-wrapper,
.aa-DetachedSearchButtonIcon {
  cursor: pointer !important;
}
