@media (min-width: 997px) {
  .sign-up {
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid rgb(231, 231, 231);
    display: block;
    margin-left: 16px;
    font-weight: 600;
    color: #000;
  }
}

.aa-DetachedSearchButton {
  border: none !important;
}

.aa-DetachedSearchButtonPlaceholder {
  display: none;
}

.sign-up:hover {
  background-color: rgb(231, 231, 231);
}

html[data-theme="dark"] .sign-up:hover {
  background-color: rgba(231, 231, 231, 0.1);
}

.navbar__brand {
  height: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__inner {
  max-width: 1296px;
  box-sizing: border-box;
}

html[data-theme="dark"] .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

html[data-theme="dark"] .menu {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.blog-sidebar {
  padding-left: 32px;
  position: sticky;
  overflow-y: auto;
  top: calc(var(--ifm-navbar-height) + 2rem);
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
}

.aa-DetachedSearchButton {
  border-radius: 32px !important;
  cursor: pointer;
  padding-right: 8px;
  background: transparent !important;
}

.aa-Form {
  border-radius: 32px !important;
  margin: 8px !important;
}

.aa-Form:focus-within {
  box-shadow: rgba(38, 50, 56, 0.1) 0 0 0 2px, inset rgba(38, 50, 56, 0.1) 0 0 0 2px !important;
}

.dsla-search-wrapper {
  width: 47px;
  height: 44px;
}

@media (max-width: 996px) {
  .dsla-search-wrapper {
    margin-right: 48px;
  }
}

.dsla-search-wrapper,
.aa-DetachedSearchButtonIcon {
  cursor: pointer !important;
}

.navbar__toggle {
  position: absolute;
  right: 24px;
  margin: 0;
}

.navbar-sidebar {
  transform: translate3d(100%, 0, 0);
  right: 0;
  left: initial;
}
