@media (min-width: 997px) {
  .sign-up {
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid rgb(231, 231, 231);
    display: block;
    margin-left: 16px;
    font-weight: 600;
    color: #000;
  }
}

.aa-DetachedSearchButton {
  border: none !important;
}

.aa-DetachedSearchButtonPlaceholder {
  display: none;
}

.sign-up:hover {
  background-color: rgb(231, 231, 231);
}

html[data-theme="dark"] .sign-up:hover {
  background-color: rgba(231, 231, 231, 0.1);
}

.navbar__brand {
  height: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
}

.navbar__inner {
  max-width: 1296px;
  box-sizing: border-box;
}

html[data-theme="dark"] .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

html[data-theme="dark"] .menu {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.blog-sidebar {
  padding-left: 32px;
  position: sticky;
  overflow-y: auto;
  top: calc(var(--ifm-navbar-height) + 2rem);
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
}

.aa-DetachedSearchButton {
  border-radius: 32px !important;
  cursor: pointer;
  padding-right: 8px;
  background: transparent !important;
}

.aa-Form {
  border-radius: 32px !important;
  margin: 8px !important;
}

.aa-Form:focus-within {
  box-shadow: rgba(38, 50, 56, 0.1) 0 0 0 2px, inset rgba(38, 50, 56, 0.1) 0 0 0 2px !important;
}

.dsla-search-wrapper {
  width: 47px;
  height: 44px;
}

@media (max-width: 996px) {
  .dsla-search-wrapper {
    margin-right: 48px;
  }
}

.dsla-search-wrapper,
.aa-DetachedSearchButtonIcon {
  cursor: pointer !important;
}

.navbar__toggle {
  position: absolute;
  right: 24px;
  margin: 0;
}

.navbar-sidebar {
  transform: translate3d(100%, 0, 0);
  right: 0;
  left: initial;
}

.docs-wrapper .menu {
  padding: 0;
  margin-right: 32px;
}

.navbar-sidebar .navbar-sidebar__item {
  padding: 0 24px;
}

.navbar-sidebar .navbar__brand {
  padding-left: 16px;
}

.navbar-sidebar .menu__link {
  font-size: 1.4em;
  display: flex;
  align-items: center;
}

.navbar-sidebar .menu__link:after {
  opacity: 0.5;
}

.navbar-sidebar .theme-doc-sidebar-menu.menu__list {
  margin-left: 24px;
}

.theme-doc-sidebar-menu.menu__list,
.theme-doc-sidebar-menu.menu__list .menu__list {
  padding: 0;
  margin: 0;
}

.theme-doc-sidebar-menu.menu__list .menu__link {
  color: #000;
  padding: 0.375rem 0;
}

.theme-doc-sidebar-menu .menu__list-item-collapsible {
  margin-bottom: 8px;
}

.theme-doc-sidebar-menu .menu__list-item-collapsible:hover {
  background-color: transparent;
}

.theme-doc-sidebar-menu.menu__list .menu__list {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.theme-doc-sidebar-menu.menu__list .menu__list .menu__link {
  color: #455a64;
  padding-left: 16px;
  margin-left: 10px;
  margin-right: 16px;
}

.theme-doc-sidebar-menu .menu__link.menu__link--sublist,
.theme-doc-sidebar-menu .menu__list-item-collapsible {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.menu__list-item-collapsible button:before,
.menu__link.menu__link--sublist::after {
  color: #fff;
  background-size: 18px;
  margin-right: 16px;
  width: 10px;
  min-width: 10px;
}

.menu__list-item-collapsible button {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-sidebar__back {
  padding: 24px 30px;
  font-size: 1.4em;
  background-color: transparent;
}

.dropdown > .navbar__link:after {
  display: none;
}
