@media (min-width: 997px) {
  .sign-up {
    padding: 8px 18px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 8px;
    display: block;
    margin-left: 16px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
  }
}

.dsla-search-wrapper .aa-DetachedSearchButton {
  width: 44px;
  height: 44px;
  border: none !important;
}

.aa-DetachedSearchButtonPlaceholder {
  display: none;
}

.sign-up:hover {
  border-color: #888;
}

html[data-theme="dark"] .sign-up:hover {
  background-color: rgba(231, 231, 231, 0.1);
}

.navbar__brand {
  height: 40px;
  margin-right: 32px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
}

.navbar-sidebar--show {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.navbar__inner {
  max-width: 1296px;
  box-sizing: border-box;
}

html[data-theme="dark"] .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

html[data-theme="dark"] .menu {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.blog-sidebar {
  padding-left: 32px;
  position: sticky;
  overflow-y: auto;
  top: calc(var(--ifm-navbar-height) + 2rem);
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
}

.aa-DetachedSearchButton {
  border-radius: 32px !important;
  cursor: pointer;
  padding-right: 8px;
  background: transparent !important;
}

.aa-Form {
  border-radius: 32px !important;
  margin: 8px !important;
}

.aa-Form:focus-within {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 0 0 2px,
    inset rgba(0, 0, 0, 0.1) 0 0 0 2px !important;
}

.dsla-search-wrapper {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 996px) {
  .dsla-search-wrapper {
    margin-right: 48px;
  }

  .blog-container {
    padding: 0 16px;
  }

  .navbar {
    overflow: hidden;
  }
}

@keyframes jump {
  0% {
    transform: scale(1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  100% {
    transform: scale(1.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
}

.dsla-search-wrapper {
  transition: all 0.1s ease-in-out;
}

.aa-DetachedSearchButton svg {
  transition: all 0.1s ease-in-out;
}

.aa-DetachedContainer.aa-DetachedContainer--modal {
  border-radius: 16px;
}

.aa-DetachedContainer.aa-DetachedContainer--modal .aa-DetachedCancelButton {
  border-radius: 8px;
  margin: 8px 0;
}

.dsla-search-wrapper,
.aa-DetachedSearchButtonIcon {
  border-radius: 32px;
  cursor: pointer !important;
}

.docs-version-current .dsla-search-wrapper {
  background-color: #2196f3;
  animation: 0.4s jump ease 6 alternate;
}

.docs-version-current .aa-DetachedSearchButtonIcon svg {
  fill: #fff;
}

.navbar__toggle {
  position: absolute;
  right: 24px;
  margin: 0;
  z-index: 1;
}

.navbar-sidebar {
  transform: translate3d(100%, 0, 0);
  right: 0;
  left: initial;
  z-index: 2;
  height: 100%;
}

.docs-wrapper .menu {
  padding: 0;
  margin-right: 32px;
}

.navbar-sidebar .navbar-sidebar__item {
  padding: 0 24px;
}

.navbar-sidebar .navbar__brand {
  padding-left: 16px;
}

.navbar-sidebar .menu__link {
  font-size: 1.4em;
  display: flex;
  align-items: center;
}

.navbar-sidebar .menu__link:after {
  opacity: 0.5;
}

.navbar-sidebar .theme-doc-sidebar-menu.menu__list {
  margin-left: 24px;
}

.theme-doc-sidebar-menu.menu__list,
.theme-doc-sidebar-menu.menu__list .menu__list {
  padding: 0;
  margin: 0;
}

.theme-doc-sidebar-menu.theme-doc-sidebar-menu.theme-doc-sidebar-menu {
  margin-top: 16px;
}

.theme-doc-sidebar-menu.menu__list .menu__link {
  color: #000;
  padding: 0.375rem 0;
}

.theme-doc-sidebar-menu .menu__list-item-collapsible {
  margin-bottom: 8px;
}

.theme-doc-sidebar-menu .menu__list-item-collapsible:hover {
  background-color: transparent;
}

.theme-doc-sidebar-menu.menu__list .menu__list {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.theme-doc-sidebar-menu.menu__list .menu__list .menu__link {
  color: #616161;
  padding-left: 16px;
  margin-right: 16px;
}

.theme-doc-sidebar-menu .menu__link.menu__link--sublist,
.theme-doc-sidebar-menu .menu__list-item-collapsible {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  border-left: 0;
}

.menu__list-item-collapsible button:before,
.menu__link.menu__link--sublist::after {
  color: #fff;
  background-size: 18px;
  margin-right: 16px;
  width: 10px;
  min-width: 10px;
  display: none;
}

.menu__list-item-collapsible button {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-sidebar__back {
  padding: 24px 30px;
  font-size: 1.4em;
  background-color: transparent;
}

.dropdown > .navbar__link:after {
  display: none;
}

a.menu__link {
  border-left: 1px solid #e5e7eb;
  border-radius: 0;
}

a.menu__link:hover {
  border-left: 1px solid #888;
  background: transparent;
}

a.menu__link.menu__link--active:not(.menu__link--sublist) {
  color: #03a9f4 !important;
  background-color: transparent;
  border-left: 1px solid #03a9f4;
  border-radius: 0;
}

a.menu__link.menu__link--active.menu__link--sublist {
  border-left: 0;
}

.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-2.menu__list-item {
  margin: 0;
}

.navbar-sidebar a.menu__link {
  border-left: 0;
}

.navbar__item {
  font-size: 17px;
}
.navbar__item.dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (max-width: 996px) {
  .navbar__item.dropdown {
    display: none;
  }
}

.dropdown__menu .dropdown__link {
  font-size: 1em;
}

.dropdown__menu {
  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.06),
    0px 1px 1px -0.5px rgba(0, 0, 0, 0.06),
    0px 3px 3px -1.5px rgba(0, 0, 0, 0.06),
    0px 6px 6px -3px rgba(0, 0, 0, 0.06);
}

.navbar__logo::before {
  background: #757575;
  width: 4px;
  height: 31px;
  margin-top: 1px;
  display: block;
  content: "";
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  border-left: 4px solid #c0c0c0;
  border-right: 4px solid #303030;
}

.navbar__logo:hover::before {
  opacity: 1;
}

.markdown .docs-block-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.markdown .docs-block {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-image: none !important;
  border-radius: 8px;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.markdown .docs-block:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.markdown .docs-block-icon {
  padding: 48px 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0 0;
  background-color: #000;
  transition: all 0.2s ease-in-out;
}

.markdown .docs-block:hover .docs-block-icon {
  background-color: #03a9f4;
}

.markdown .docs-block p {
  margin-bottom: 0;
}

.markdown .docs-block-content {
  padding: 16px 16px 16px 16px;
  border: 1px solid #e0e0e0;
  border-top: 0;
  border-radius: 0 0 8px 8px;
  flex-grow: 1;
}

.markdown .docs-block-title {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 1;
}

.markdown .docs-block-description {
  font-size: 1em;
}
