body {
  overflow: hidden;
  height: 100vh;
}

.page {
  display: flex;
  flex-grow: 1;
}

.page.has-menu {
  flex-direction: column;
}

.impersonation-toolbar {
  background-color: #ffc107;
  padding: 4px 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.12) inset;
}

.impersonation-toolbar .impersonation-caution {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
}

.impersonation-toolbar .impersonation-caution .icon {
  margin-top: 3px;
}

.impersonation-toolbar .icon {
  width: 16px;
  height: 16px;
}

.impersonation-toolbar .spacer {
  margin-left: auto;
}

.impersonation-toolbar button {
  min-height: 32px;
  padding: 2px 16px;
  gap: 8px;
  flex-shrink: 0;
}

.root {
  position: relative;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.container.left,
.left .container {
  margin: 0;
  max-width: 100%;
}

.content-flex {
  display: flex;
  flex-direction: column;
}

.root-tests .content {
  max-height: 100%;
}

.root-tests .footer {
  display: none;
}

.history-title {
  margin-right: 18px;
}

.history-button {
  margin-right: 18px;
  padding: 6px 12px;
  color: #444;
  border: 1px solid rgba(20, 20, 20, 0.1);
  border-radius: 8px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.history-button svg {
  margin-right: 8px;
  width: 14px;
  height: 14px;
}

.history-button:hover {
  background-color: rgba(20, 20, 20, 0.1);
}

.history-button:last-of-type {
  margin-right: 0;
}

/** Mobile support **/

@media (max-width: 800px) {
  .page {
    overflow: auto;
  }

  .root-main.root-main {
    overflow: visible;
  }

  .left .page {
    max-height: initial;
  }

  .dense .page,
  .page {
    flex-direction: column;
    max-height: initial;
  }

  /* Duplicate selector for increased specificity. */
  .sidebar.sidebar {
    height: auto;
    width: 100%;
  }

  .sidebar .sidebar-body {
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 16px;
  }

  .dense .sidebar .logo {
    height: 36px;
  }

  .sidebar .sidebar-footer:not(.expanded) {
    background-color: transparent;
  }

  .sidebar .sidebar-expanded-profile {
    margin-bottom: 0;
  }

  .sidebar .sidebar-footer .sidebar-profile {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px;
  }

  .dense .sidebar .sidebar-profile-photo {
    display: block;
  }

  .dense .sidebar .sidebar-profile-name,
  .sidebar .sidebar-profile-name {
    display: none;
  }

  .dense .sidebar .sidebar-profile-arrow,
  .sidebar .sidebar-profile-arrow {
    display: none;
  }
}

.keyboard-shortcut-title {
  border-bottom: 1px solid #eee;
  text-align: center;
  width: 100%;
}

.keyboard-shortcut-body {
  text-align: left;
  padding-left: 8px;
}

.keyboard-shortcut-help {
  margin: 0px;
}

.keyboard-shortcut-th {
  text-align: left;
}

.keyboard-shortcut-key {
  text-align: right;
  padding-right: 32px;
  font-family: "Source Code Pro", monospace;
}

.keyboard-shortcut-close {
  text-align: right;
  margin-left: auto;
  margin-right: 8px;
  text-decoration: underline;
  color: #333;
}
