body {
  overflow: hidden;
  height: 100vh;
}

.page {
  display: flex;
  flex-grow: 1;
}

.page.has-menu {
  flex-direction: column;
}

.impersonation-toolbar {
  background-color: #ffc107;
  padding: 4px 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.12) inset;
}

.impersonation-toolbar button {
  margin-left: auto;
  min-height: 32px;
  padding: 2px 16px;
  gap: 8px;
  flex-shrink: 0;
}

.root {
  position: relative;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.container.left,
.left .container {
  margin: 0;
  max-width: 100%;
}

.content-flex {
  display: flex;
  flex-direction: column;
}

.history-trends-button {
  margin-left: 18px;
  font-size: 0.5em;
  color: #aaa;
}

/** Mobile support **/

@media (max-width: 800px) {
  .page {
    overflow: auto;
  }

  .root-main.root-main {
    overflow: visible;
  }

  .left .page {
    max-height: initial;
  }

  .dense .page,
  .page {
    flex-direction: column;
    max-height: initial;
  }

  /* Duplicate selector for increased specificity. */
  .sidebar.sidebar {
    height: auto;
    width: 100%;
  }

  .sidebar .sidebar-body {
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 16px;
  }

  .dense .sidebar .logo {
    height: 36px;
  }

  .sidebar .sidebar-footer:not(.expanded) {
    background-color: transparent;
  }

  .sidebar .sidebar-expanded-profile {
    margin-bottom: 0;
  }

  .sidebar .sidebar-footer .sidebar-profile {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px;
  }

  .dense .sidebar .sidebar-profile-photo {
    display: block;
  }

  .dense .sidebar .sidebar-profile-name,
  .sidebar .sidebar-profile-name {
    display: none;
  }

  .dense .sidebar .sidebar-profile-arrow,
  .sidebar .sidebar-profile-arrow {
    display: none;
  }
}
