body {
  overflow: hidden;
  height: 100vh;
}

.page {
  display: flex;
  flex-grow: 1;
  max-height: calc(100vh - 90px);
}

.left .page {
  max-height: 100vh;
}

.container.left,
.left .container {
  margin: 0;
  max-width: 100%;
}

.content-flex {
  display: flex;
  flex-direction: column;
}

.history-trends-button {
  margin-left: 18px;
  font-size: 0.5em;
  color: #aaa;
}

/** Mobile support **/

@media (max-width: 800px) {
  body {
    overflow: auto;
  }

  .left .page {
    max-height: initial;
  }

  .dense .page,
  .page {
    flex-direction: column;
    max-height: initial;
  }

  /* Duplicate selector for increased specificity. */
  .sidebar.sidebar {
    height: auto;
    width: 100%;
  }

  .sidebar .sidebar-body {
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 16px;
  }

  .dense .sidebar .logo {
    height: 36px;
  }

  .sidebar .sidebar-footer:not(.expanded) {
    background-color: transparent;
  }

  .sidebar .sidebar-expanded-profile {
    margin-bottom: 0;
  }

  .sidebar .sidebar-footer .sidebar-profile {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px;
  }

  .dense .sidebar .sidebar-profile-photo {
    display: block;
  }

  .dense .sidebar .sidebar-profile-name,
  .sidebar .sidebar-profile-name {
    display: none;
  }

  .dense .sidebar .sidebar-profile-arrow,
  .sidebar .sidebar-profile-arrow {
    display: none;
  }

  .dense .root-main,
  .root-main {
    overflow: visible;
  }
}
