/* EXECUTORS PAGE */

.executors-page .title {
  font-size: 32px;
  font-weight: 700;
}

.executors-page .executor-section {
  display: flex;
}

.executors-page .executor-section div {
  flex-grow: 1;
}

.executor-section div.executor-section-title {
  width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;
  margin-right: 16px;
  font-weight: 700;
}

.executors-page .manage-keys-button {
  margin-top: 16px;
}

.executors-page hr {
  margin-top: 32px;
  border: 0;
  background-color: #eee;
  height: 1px;
}

.executors-page h1 {
  margin-top: 32px;
}

.executors-page h2 {
  margin-top: 32px;
}

.executors-page .credential-picker {
  margin-left: 16px;
}

.executors-page .organization-settings-button {
  margin-top: 16px;
}

.executors-page .callout {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 16px;
  max-width: 600px;
  border-radius: 8px;
  display: flex;
  gap: 16px;
}

.executors-page .callout .icon {
  flex-shrink: 0;
}

.executors-page .warning-callout {
  background: #ffecb3;
}
