.compare-invocations .header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.compare-invocations .header > :not(:last-child) {
  margin-right: 16px;
}

.compare-invocations .show-changes-only-button {
  margin-left: auto;
}

@media (max-width: 1024px) {
  .compare-invocations .header {
    flex-direction: column;
    align-items: start;
  }

  .compare-invocations .header > :not(:last-child) {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .compare-invocations .show-changes-only-button {
    margin-left: 0;
    margin-right: auto;
  }
}

.compare-invocations .error-container {
  background: #ffebee;
  padding: 16px;
  border-radius: 8px;
  margin: 16px 0;

  display: flex;
  align-items: center;
}

.compare-invocations .error-container > :not(:last-child) {
  margin-right: 8px;
}

.compare-invocations .error-container img {
  width: 24px;
  height: 24px;
}

.compare-invocations .compare-table {
  display: table;
  padding-top: 16px;
  width: 100%;
}

.compare-invocations .compare-row {
  display: table-row;
  white-space: pre-wrap;
}

.compare-invocations .compare-row.different {
  background: #fff8e1;
}

.compare-invocations .compare-row div {
  display: table-cell;
  padding: 4px 16px;
  width: 40%;
}

.compare-invocations .compare-row div:first-of-type {
  font-weight: 600;
  text-align: right;
  width: 20%;
  text-decoration: none !important;
}

.compare-invocations .difference-left {
  font-weight: 600;
  color: #d84315;
  background-color: #ffe0b2;
}

.compare-invocations .difference-right {
  font-weight: 600;
  color: #1565c0;
  background-color: #bbdefb;
}
