.code-editor {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.code-menu {
  height: 60px;
  border-bottom: 1px solid #fafafa;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
}

.code-menu-logo {
  font-weight: 500;
  font-size: 18px;
  color: #888;
  font-family: monospace;
  flex-shrink: 0;
  margin-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-menu-logo .logo {
  height: 24px;
  margin-right: 4px;
}

.code-menu-logo .code-logo {
  height: 18px;
  margin-left: 4px;
  stroke: #888;
}

.code-menu-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-menu-back {
  margin-right: 16px;
  color: #000;
}

.code-menu-actions {
  min-width: 1px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.code-menu-download-button {
  gap: 8px;
}

.code-menu-breadcrumbs {
  font-size: 0.8em;
  text-align: center;
}

.code-menu-breadcrumbs-environment {
  font-weight: 600;
}

.code-main {
  display: flex;
  flex-grow: 1;
  width: 100vw;
  height: calc(100vh - 60px);
}

.code-sidebar {
  width: 200px;
  border-right: 1px solid #fafafa;
  flex-shrink: 0;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.code-sidebar-tree {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.code-sidebar-tree div {
  cursor: pointer;
}

.code-sidebar-actions {
  padding: 16px;
  border-top: 1px solid #fafafa;
}

.code-sidebar-actions button {
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.code-sidebar-actions button svg {
  width: 16px;
  margin-right: 8px;
}

.code-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.code-viewer-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.code-viewer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.code-diff-viewer {
  max-height: 200px;
  overflow: scroll;
  flex-shrink: 0;
  border-top: 1px solid #fafafa;
  padding: 16px;
}

.code-diff-viewer-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.code-diff-viewer-item {
  margin-bottom: 4px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
}

.code-sidebar-node-row {
  padding-left: calc(12px + 8px * var(--depth));
}

.code-sidebar-node-row:hover {
  background: #eceff1;
}

.code-sidebar-node-row {
  display: flex;
  font-size: 13px;
  align-items: center;
  user-select: none;
  height: 24px;
}

.code-sidebar-node-row svg {
  width: 14px;
  margin-right: 4px;
  flex-shrink: 0;
}

.code-sidebar-node-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: clip;
}

/* Monaco overrides */

.minimap-shadow-visible,
.scroll-decoration {
  display: none;
}

.minimap-decorations-layer {
  border-left: 1px solid #fafafa;
}

.repo-previews-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 16px 16px 0 16px;
}

.repo-previews-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.repo-preview {
  width: calc(33% - 64px);
  padding: 16px;
  margin: 16px;
  font-weight: bold;
  border: 1px solid #eee;
  border-radius: 16px;
  flex-shrink: 0;
}

.repo-preview img {
  width: 100%;
}

.request-review-button {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.request-review-button .icon {
  margin-right: 8px;
}

.request-review-button svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.request-review-button .spinner {
  --size: 16px;
}

.request-review-button .loading {
  --spinner-size: 18px;

  width: var(--spinner-size);
  height: var(--spinner-size);
  margin-left: -2px;
}

.request-review-button .loading::before {
  width: var(--spinner-size);
  height: var(--spinner-size);
}

.code-revert-button {
  margin-left: 64px;
  color: #aaa;
}

.code-revert-button:hover {
  color: #f44336;
}

.code-request-review-dialog .dialog-footer-buttons {
  width: 100%;
}

.code-request-review-dialog input,
.code-request-review-dialog textarea {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #888;
  font: inherit;
}

.code-request-review-dialog textarea {
  min-height: 200px;
}

.code-request-review-dialog-body {
  display: flex;
  flex-direction: column;
}

.code-request-review-dialog .code-request-review-button {
  padding: 16px;
  width: 100%;
  justify-content: center;
}

.code-request-review-dialog .code-request-review-button svg {
  margin-right: 8px;
}

.hidden-viewer {
  display: none;
}

.code-update-commit {
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  stroke: #2196f3;
}
