.code-editor {
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.code-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.code-highlight-modification {
  text-decoration: underline;
  background-color: var(--color-purple-50-alt);
  cursor: pointer;
  border: 1px solid var(--color-purple-600-alt);
}

.code-highlight-reference {
  text-decoration: underline;
  background-color: var(--color-amber-50-alt);
  cursor: pointer;
  border: 1px solid var(--color-amber-800-alt);
}

.code-search-xrefs {
  height: 300px;
  overflow: hidden;
  border: 2px solid var(--color-bg-secondary);
  border-top: 0px;
}

.code-search-xrefs-resize {
  height: 4px;
  background-color: var(--color-gray-400-alt);
  cursor: ns-resize;
  border-left: 2px solid var(--color-bg-secondary);
  border-right: 2px solid var(--color-bg-secondary);
}

.xrefs-header {
  padding: 10px;
  background-color: var(--color-blue-50-alt);
  color: var(--color-blue-700-alt);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.xrefs-container {
  overflow-y: auto;
  height: calc(100% - 36px);
}

.xrefs-file {
  cursor: pointer;
  color: var(--color-blue-700-alt2);
  font-size: 12px;
  padding: 5px 30px;
}

.xrefs-category {
  background-color: var(--color-gray-50-alt2);
  color: var(--color-gray-900-alt2);
  font-size: 12px;
  padding: 5px 10px;
}

.xrefs-snippet {
  font-family: monospace;
  color: var(--color-gray-900-alt2);
  font-size: 12px;
  line-height: 20px;
  padding: 0 40px 10px;
  cursor: pointer;
}

.xrefs-snippet-line {
  padding: 0 10px 0 0;
  color: var(--color-blue-700-alt2);
}

.code-menu {
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 16px;
}

.code-menu-logo {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-text-secondary);
  font-family: monospace;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-menu-logo .logo {
  height: 24px;
  width: 29px;
  stroke: var(--color-gray-800);
}

.code-menu-logo .logo:hover {
  fill: var(--color-black);
  stroke: var(--color-black);
}

.code-menu-logo .code-logo {
  height: 18px;
  margin-left: 4px;
  stroke: var(--color-gray-600-alt);
}

.code-menu-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-menu-back {
  color: var(--color-black);
  margin-right: 8px;
}

.code-menu-actions {
  min-width: 1px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
}

.code-menu-download-button {
  gap: 8px;
}

.code-menu-breadcrumbs {
  font-size: 0.85em;
  display: flex;
  align-items: center;
  gap: 0 4px;
  flex-wrap: wrap;
}

.code-menu-breadcrumbs svg {
  height: 12px;
  width: 12px;
}

.code-menu-breadcrumbs-environment {
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 4px;
}

.code-main {
  display: flex;
  flex-grow: 1;
  width: 100vw;
  height: calc(100vh - 60px);
}

.code-sidebar {
  width: 200px;
  flex-shrink: 0;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.code-sidebar-header {
  padding: 8px 4px 8px 16px;
  box-sizing: border-box;
  font-size: 0.8em;
  font-weight: 600;
  margin-top: 2px;
  display: flex;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
}

.code-sidebar-header svg {
  width: 12px;
  height: 12px;
}

.code-sidebar-tree {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.code-sidebar-tree div {
  cursor: pointer;
}

.code-editor-link-github {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 200px);
  height: calc(100% - 60px);
}

.code-editor-link-github button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  font-weight: 600;
  border-radius: 100px;
  margin-bottom: 12px;
  font-size: 18px;
  cursor: pointer;
  min-width: 360px;
  transition: 300ms ease-in-out;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  border: 3px solid var(--color-bg-inverted);
}

.code-editor-link-github button svg {
  width: 16px;
  margin-right: 8px;
}

.code-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 200px);
  min-width: 1px;
}

.code-viewer-container {
  flex-grow: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-left: 2px solid var(--color-bg-secondary);
}

.code-viewer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.code-diff-viewer {
  max-height: 200px;
  overflow: scroll;
  flex-shrink: 0;
  border-top: 2px solid var(--color-bg-secondary);
  border-left: 2px solid var(--color-bg-secondary);
  padding: 16px;
}

.code-diff-viewer-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.code-diff-viewer-item {
  margin-bottom: 4px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
}

.code-sidebar-node-row {
  padding-left: calc(12px + 8px * var(--depth));
}

.code-sidebar-node-row:hover {
  background: var(--color-bg-info-subtle);
}

.code-sidebar-node-row {
  display: flex;
  font-size: 13px;
  align-items: center;
  user-select: none;
  height: 24px;
}

.code-sidebar-node-row svg {
  width: 14px;
  margin-right: 4px;
  flex-shrink: 0;
}

.code-sidebar-node-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: clip;
}

.code-diff-viewer-item-path.deleted,
.code-sidebar-node-name.deleted {
  color: var(--color-red-500);
  text-decoration: line-through;
}

.code-diff-viewer-item-path.added,
.code-sidebar-node-name.added {
  color: var(--color-green-500);
}

.code-sidebar-node-name.changed {
  color: var(--color-status-warning);
}

/* Monaco overrides */

.minimap-shadow-visible,
.scroll-decoration {
  display: none;
}

.minimap-decorations-layer {
  border-left: 2px solid var(--color-bg-secondary);
}

.repo-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 200px);
  height: calc(100% - 60px);
}

.repo-empty .repo-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.repo-empty .repo-title {
  font-size: 1.2em;
  margin-bottom: 4px;
}

.repo-empty .repo-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4px;
}

.repo-empty .repo-link {
  color: var(--color-blue-500);
  font-weight: 600;
  cursor: pointer;
}

.repo-empty .repo-logo {
  font-size: 2em;
  font-weight: 600;
}

.request-review-button {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.request-review-button .icon {
  margin-right: 8px;
}

.request-review-button svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.request-review-button .spinner {
  --size: 16px;
}

.request-review-button .loading {
  --spinner-size: 18px;

  width: var(--spinner-size);
  height: var(--spinner-size);
  margin-left: -2px;
}

.request-review-button .loading::before {
  width: var(--spinner-size);
  height: var(--spinner-size);
}

.code-revert-button {
  margin-left: 64px;
  color: var(--color-text-tertiary);
}

.code-revert-button:hover {
  color: var(--color-red-500);
}

.code-request-review-dialog .dialog-footer-buttons {
  width: 100%;
}

.code-request-review-dialog input,
.code-request-review-dialog textarea {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--color-border-neutral);
  font: inherit;
}

.code-request-review-dialog textarea {
  min-height: 200px;
}

.code-request-review-dialog-body {
  display: flex;
  flex-direction: column;
}

.code-request-review-dialog .code-request-review-button {
  padding: 16px;
  width: 100%;
  justify-content: center;
  gap: 8px;
  flex-shrink: 1;
}

.code-request-review-dialog .code-request-review-button svg {
  margin-right: 8px;
}

.hidden-viewer {
  display: none;
}

.code-update-commit {
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  stroke: var(--color-blue-500);
}

.codeCoverageHit {
  background-color: var(--color-light-green-200);
}

.codeCoverageMiss {
  background-color: var(--color-red-200);
}

.code-editor .sidekick {
  border-left: 2px solid var(--color-bg-secondary);
  width: calc(40vw);
  padding: 8px 16px;
  overflow-y: auto;
  min-width: 1px;
}

.code-editor .context-menu {
  position: absolute;
  z-index: 2;
  background-color: var(--color-bg-primary);
  padding: 8px 0;
  border-radius: 8px;
  box-shadow:
    0 0 0 1px #0000000f,
    0 1px 1px -0.5px #0000000f,
    0 3px 3px -1.5px #0000000f,
    0 6px 6px -3px #0000000f;
}

.code-editor .context-menu div {
  padding: 8px 16px;
  cursor: pointer;
}

.code-editor .context-menu div:hover {
  background-color: var(--color-bg-secondary);
}

.code-editor .code-viewer-tabs {
  display: flex;
  white-space: nowrap;
  overflow-y: auto;
  flex-shrink: 1;
  background-color: var(--color-bg-secondary);
  width: 100%;
  min-height: 36px;
  border-top-left-radius: 8px;
  border-top: 2px solid var(--color-bg-secondary);
}

.code-editor .code-viewer-tab {
  padding: 8px 4px 8px 16px;
  border-bottom: 2px solid var(--color-bg-secondary);
  border-left: 2px solid var(--color-bg-secondary);
  cursor: pointer;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  color: var(--color-text-emphasis);
  gap: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.code-editor .code-viewer-tab.selected {
  border-bottom: 2px solid transparent;
  background-color: var(--color-bg-primary);
  color: var(--color-black);
}

.code-editor .code-viewer-tab svg {
  width: 12px;
  height: 12px;
  color: transparent;
}
.code-editor .code-viewer-tab:hover {
  color: var(--color-black);
}

.code-editor .code-viewer-tab:hover svg {
  color: var(--color-text-tertiary);
}

.code-editor .code-viewer-tab svg:hover {
  color: var(--color-red-900);
}

.code-editor .monaco-editor .view-overlays .current-line-exact {
  border: 2px solid var(--color-gray-200);
}

.code-spinner {
  position: absolute;
  z-index: 100;
  width: 64px;
  height: 64px;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

.code-query-highlight {
  font-weight: 600;
  background-color: var(--color-orange-100);
}

.code-editor-search-bar-empty-state {
  margin-top: 8px;
}

.code-editor-search-bar-empty-state ul li code {
  padding: 2px 4px;
  font-size: 0.8em;
  display: inline-flex;
  margin-top: 0px;
}

.code-editor-search-bar-empty-state-description {
}

.code-editor-search-bar-empty-state-examples {
  margin: 16px 0 12px 0;
  color: var(--color-text-secondary);
  font-size: 0.8em;
}

.code-editor-search-bar-result {
}

.code-editor-search-bar-result pre {
  white-space: pre-wrap;
}

.code-editor-filename {
  flex-grow: 1;
}

.code-editor-filename svg {
  width: 12px;
  height: 12px;
  padding: 0 8px;
}
