:root {
  /* Primitives */
  /* alt colors don't follow https://materialui.co/colors */
  /* TODO(buildbuddy-internal#6443): Clean up similar colors to reduce the list */
  --color-amber-200: #ffe082;
  --color-amber-500: #ffc107;
  --color-amber-50-alt: #fef7e0;
  --color-amber-800-alt: #8f6b00;
  --color-amber-800: #ff8f00;
  --color-amber-900: #ff6f00;
  --color-black: #000;
  --color-blue-100: #bbdefb;
  --color-blue-300: #64b5f6;
  --color-blue-400: #42a5f5;
  --color-blue-500: #2196f3;
  --color-blue-50: #e3f2fd;
  --color-blue-50-alt: #d2e3fc;
  --color-blue-600: #1e88e5;
  --color-blue-700: #1976d2;
  --color-blue-700-alt: #1967d2;
  --color-blue-700-alt2: #185abc;
  --color-blue-800: #1565c0;
  --color-blue-900: #0d47a1;
  --color-blue-gray-100: #cfd8dc;
  --color-blue-gray-200: #b0bec5;
  --color-blue-gray-50: #eceff1;
  --color-brown-700-alt: #774a21;
  --color-cyan-400: #26c6da;
  --color-cyan-600: #00acc1;
  --color-deep-purple-500: #673ab7;
  --color-gray-100: #f5f5f5;
  --color-gray-100-alt: #f0f0f0;
  --color-gray-100-alt2: #f3f3f3;
  --color-gray-200: #eee;
  --color-gray-200-alt: #eaeaea;
  --color-gray-200-alt2: #e5e7eb;
  --color-gray-300: #e0e0e0;
  --color-gray-300-alt: #ddd;
  --color-gray-400: #bdbdbd;
  --color-gray-400-alt: #ccc;
  --color-gray-400-alt2: #bbb;
  --color-gray-50: #fafafa;
  --color-gray-50-alt: #f8f8f8;
  --color-gray-50-alt2: #f8f9fa;
  --color-gray-500: #9e9e9e;
  --color-gray-500-alt: #aaa;
  --color-gray-600: #757575;
  --color-gray-600-alt: #888;
  --color-gray-600-alt2: #777;
  --color-gray-700: #616161;
  --color-gray-700-alt: #666;
  --color-gray-700-alt2: #555;
  --color-gray-800: #424242;
  --color-gray-800-alt: #444;
  --color-gray-800-alt2: #414141;
  --color-gray-900: #212121;
  --color-gray-900-alt: #333;
  --color-gray-900-alt2: #202124;
  --color-gray-900-translucent: #212121ad;
  --color-green-400: #66bb6a;
  --color-green-50: #e8f5e9;
  --color-green-500: #4caf50;
  --color-green-500-alt: #4daf62;
  --color-green-600: #43a047;
  --color-green-700: #388e3c;
  --color-indigo-500: #3f51b5;
  --color-light-blue-400: #29b6f6;
  --color-light-blue-50: #e1f5fe;
  --color-light-blue-500: #03a9f4;
  --color-light-blue-600: #039be5;
  --color-light-green-200: #c5e1a5;
  --color-light-green-400: #9ccc65;
  --color-light-green-500: #8bc34a;
  --color-light-green-600: #7cb342;
  --color-orange-100: #ffe0b2;
  --color-orange-500: #ff9800;
  /* TODO(buildbuddy-internal#6443): Replace these overlay colors with simpler primitives */
  --color-overlay-dark: rgba(0, 0, 0, 0.1);
  --color-overlay-dark-border: rgba(0, 0, 0, 0.15);
  --color-overlay-dark-divider: rgba(0, 0, 0, 0.2);
  --color-overlay-dark-strong: rgba(0, 0, 0, 0.8);
  --color-overlay-dark-subtle: rgba(0, 0, 0, 0.05);
  --color-overlay-dark-text: rgba(0, 0, 0, 0.7);
  --color-overlay-gray-50-60: rgba(250, 250, 250, 0.6);
  --color-overlay-light: rgba(255, 255, 255, 0.5);
  --color-overlay-light-card: rgba(255, 255, 255, 0.9);
  --color-overlay-light-dim: rgba(255, 255, 255, 0.2);
  --color-overlay-light-full: rgba(255, 255, 255, 1);
  --color-overlay-light-muted: rgba(255, 255, 255, 0.3);
  --color-overlay-light-quarter: rgba(255, 255, 255, 0.25);
  --color-overlay-light-solid: rgba(255, 255, 255, 0.95);
  --color-overlay-light-strong: rgba(255, 255, 255, 0.8);
  --color-overlay-light-subtle: rgba(255, 255, 255, 0.1);
  --color-overlay-neutral: rgba(20, 20, 20, 0.1);
  --color-overlay-neutral-strong: rgba(20, 20, 20, 0.2);
  --color-purple-300-alt: #8782bc;
  --color-purple-400: #ab47bc;
  --color-purple-50-alt: #f8f0ff;
  --color-purple-600: #8e24aa;
  --color-purple-600-alt: #9334e6;
  --color-red-200: #ef9a9a;
  --color-red-300: #e57373;
  --color-red-400: #ef5350;
  --color-red-50: #ffebee;
  --color-red-500: #f44336;
  --color-red-600: #e53935;
  --color-red-700: #d32f2f;
  --color-red-800: #c62828;
  --color-red-900: #b71c1c;
  --color-red-900-alt: #af2626;
  --color-shadow-10: rgba(0, 0, 0, 0.1);
  --color-shadow-12: rgba(0, 0, 0, 0.12);
  --color-shadow-16: rgba(0, 0, 0, 0.16);
  --color-shadow-20: rgba(0, 0, 0, 0.2);
  --color-shadow-23: rgba(0, 0, 0, 0.23);
  --color-shadow-27: rgba(0, 0, 0, 0.27);
  --color-shadow-40: rgba(0, 0, 0, 0.4);
  --color-shadow-50: rgba(0, 0, 0, 0.5);
  --color-teal-50: #e0f2f1;
  --color-teal-500: #009688;
  --color-teal-900: #004d40;
  --color-white: #fff;
  --color-white-translucent: #fffc;
  --color-yellow-400: #ffee58;
  --color-yellow-800: #f9a825;
  --color-yellow-highlight: rgba(255, 240, 130, 0.6);

  /* Semantic */
  /* TODO(buildbuddy-internal#6443): Reduce this list and use more generic colors */
  --color-bg-card: var(--color-white);
  --color-bg-code: var(--color-gray-200);
  --color-bg-hover: var(--color-gray-200);
  --color-bg-info-subtle: var(--color-blue-gray-50);
  --color-bg-inverted: var(--color-gray-900);
  --color-bg-neutral: var(--color-gray-600-alt);
  --color-bg-primary: var(--color-white);
  --color-bg-secondary: var(--color-gray-50);
  --color-bg-tertiary: var(--color-gray-100);
  --color-border-focus: var(--color-blue-500);
  --color-border-muted: var(--color-gray-500-alt);
  --color-border-neutral: var(--color-gray-600-alt);
  --color-border-primary: var(--color-gray-200);
  --color-button-dark-bg: var(--color-black);
  --color-button-destructive-active: var(--color-red-900);
  --color-button-destructive-bg: var(--color-red-800);
  --color-button-destructive-hover: var(--color-red-700);
  --color-button-destructive-text: var(--color-red-800);
  --color-button-disabled-bg: var(--color-gray-400-alt2);
  --color-button-outlined-active-bg: var(--color-overlay-neutral-strong);
  --color-button-outlined-border: var(--color-overlay-neutral);
  --color-button-outlined-focus-border: var(--color-black);
  --color-button-outlined-hover-bg: var(--color-overlay-neutral);
  --color-button-outlined-hover-border: var(--color-gray-500);
  --color-button-primary-active-shadow: var(--color-shadow-40);
  --color-button-primary-bg: var(--color-gray-900);
  --color-button-primary-hover: var(--color-gray-700);
  --color-button-primary-text: var(--color-white);
  --color-chart-stroke: var(--color-white);
  --color-digest-hash-bg: transparent;
  --color-digest-hash-text: var(--color-black);
  --color-digest-size-bg: var(--color-gray-200);
  --color-digest-size-text: inherit;
  --color-filter-advanced-badge-bg: var(--color-blue-gray-50);
  --color-filter-badge-bg: var(--color-gray-200);
  --color-filter-input-bg: var(--color-gray-100-alt2);
  --color-filter-input-hint: var(--color-gray-700-alt2);
  --color-filter-input-placeholder: var(--color-gray-500-alt);
  --color-filter-input-text: var(--color-black);
  --color-filter-label: var(--color-gray-700);
  --color-filter-toggle: var(--color-gray-500);
  --color-history-button-border: var(--color-button-outlined-border);
  --color-history-button-hover-bg: var(--color-button-outlined-hover-bg);
  --color-history-button-text: var(--color-gray-800-alt);
  --color-history-details: var(--color-overlay-dark-text);
  --color-hovercard-bg: var(--color-overlay-light-strong);
  --color-hovercard-muted: var(--color-gray-600-alt);
  --color-hovercard-text: var(--color-black);
  --color-icon-default: var(--color-gray-700);
  --color-icon-inverted: var(--color-white);
  --color-icon-subtle: var(--color-shadow-strong);
  --color-icon-yellow: var(--color-amber-500);
  --color-link: var(--color-blue-800);
  --color-link-hover: var(--color-blue-500);
  --color-link-plain: var(--color-black);
  --color-login-button-bg: var(--color-bg-primary);
  --color-login-button-border: var(--color-bg-inverted);
  --color-login-button-hover-bg: var(--color-gray-100);
  --color-login-button-hover-border: var(--color-black);
  --color-login-button-hover-text: var(--color-black);
  --color-login-button-text: var(--color-gray-900);
  --color-members-hover-bg: var(--color-gray-50);
  --color-members-selected-bg: var(--color-blue-100);
  --color-picker-bg: var(--color-white);
  --color-picker-border: var(--color-gray-200-alt2);
  --color-picker-input-border: var(--color-gray-200);
  --color-picker-label: var(--color-gray-600-alt);
  --color-picker-option-hover: var(--color-gray-100-alt);
  --color-settings-button-selected-bg: var(--color-teal-500);
  --color-settings-button-selected-text: var(--color-white);
  --color-settings-hovercard-bg: var(--color-overlay-light-full);
  --color-settings-input-description: var(--color-gray-800);
  --color-settings-internal-bg: var(--color-amber-500);
  --color-settings-tab-active-bg: var(--color-teal-50);
  --color-settings-tab-active-text: var(--color-teal-900);
  --color-settings-tab-group-border: var(--color-gray-500);
  --color-settings-tab-hover-bg: var(--color-gray-100);
  --color-settings-tab-subtitle: var(--color-gray-700);
  --color-shadow-lg: var(--color-shadow-20);
  --color-shadow-light: var(--color-shadow-12);
  --color-shadow-sm: var(--color-shadow-10);
  --color-shadow-strong: var(--color-shadow-50);
  --color-shadow-tooltip: var(--color-shadow-16);
  --color-shadow-tooltip-alt: var(--color-shadow-23);
  --color-shelf-bg: var(--color-gray-50-alt);
  --color-shelf-border: var(--color-gray-200-alt);
  --color-shelf-details: var(--color-overlay-dark-text);
  --color-shelf-subtitle: var(--color-overlay-dark-strong);
  --color-status-error: var(--color-red-500);
  --color-status-error-bg: var(--color-red-50);
  --color-status-in-progress: var(--color-light-blue-500);
  --color-status-info: var(--color-blue-500);
  --color-status-info-bg: var(--color-blue-50);
  --color-status-success: var(--color-light-green-500);
  --color-status-success-bg: var(--color-green-50);
  --color-status-warning: var(--color-orange-500);
  --color-terminal-bg: var(--color-gray-900);
  --color-terminal-text: var(--color-white);
  --color-text-emphasis: var(--color-gray-800-alt);
  --color-text-inverted: var(--color-white);
  --color-text-label: var(--color-gray-600);
  --color-text-muted: var(--color-gray-500);
  --color-text-on-light-bg: var(--color-black);
  --color-text-primary: var(--color-gray-900);
  --color-text-primary-translucent: var(--color-gray-900-translucent);
  --color-text-secondary: var(--color-gray-600-alt);
  --color-text-tab-inactive: var(--color-gray-500);
  --color-text-tertiary: var(--color-gray-500-alt);
  --color-trace-border: var(--color-gray-200);
  --color-trace-button-active-text: var(--color-black);
  --color-trace-button-bg: var(--color-overlay-gray-50-60);
  --color-trace-button-focus: var(--color-blue-300);
  --color-trace-button-text: var(--color-gray-700);
  --color-trace-hovercard-shadow: var(--color-shadow-27);
  --color-trace-scrollbar-bg: var(--color-gray-50);
  --color-trace-scrollbar-corner: var(--color-gray-300);
  --color-trace-scrollbar-thumb: var(--color-gray-400);
  --color-trace-zoom-factor-bg: var(--color-yellow-highlight);
  --color-trends-hovercard-bg: var(--color-overlay-light-solid);
  --color-url-input-bg: var(--color-gray-100);
  --color-workflows-bg: var(--color-gray-50-alt);
  --color-workflows-explanation: var(--color-gray-700-alt2);
  --color-workflows-neutral-bar: var(--color-gray-500-alt);
  --color-workflows-separator: var(--color-gray-600-alt2);
  --color-workflows-tooltip-bg: var(--color-overlay-light-solid);
  --color-workflows-upgrade-notice: var(--color-gray-600);
}
