h1,
h2,
h3,
h4,
h5,
body {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  word-break: break-word;

  --code-font: "Source Code Pro", monospace;
}

button,
input,
select {
  font-family: inherit;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

button {
  outline: 0;
  margin: 0;
}

/** Container **/

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;
}

.container.narrow {
  max-width: 800px;
}

/** Menu **/

.menu {
  height: 90px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 24px;
  z-index: 2;
  position: relative;
  background-color: rgba(38, 50, 56, 1);
  color: #fff;
}

.menu .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu .container div {
  display: flex;
  align-items: center;
}

.menu .title img {
  height: 40px;
}

.menu-child-title {
  margin-left: 8px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.menu .icon {
  padding-top: 1px;
  cursor: pointer;
}

.menu .profile-photo {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.95);
}

.menu .default-photo {
  padding: 8px;
  box-sizing: border-box;
}

.menu-control {
  cursor: pointer;
  opacity: 0.8;
}

.menu .title {
  color: rgba(255, 255, 255, 0.9);
}

.menu-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** Side menu **/

.side-menu-container {
  position: absolute;
}

.side-menu-shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.side-menu {
  position: absolute;
  top: 46px;
  right: 8px;
  background-color: rgba(38, 50, 56, 1);
  color: #fff;
  padding: 8px 32px 32px 32px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
  font-size: 18px;
}

.side-menu li {
  margin-top: 16px;
  font-weight: 700;
  cursor: pointer;
}

/** Shelf **/

.shelf {
  background-color: #f8f8f8;
  border-bottom: 1px solid #eaeaea;
  padding: 32px 0;
  font-size: 14px;
}

.shelf b {
  font-weight: 600;
}

.shelf .titles {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.shelf .title {
  font-weight: 600;
  font-size: 32px;
  margin-right: 16px;
  margin-bottom: 8px;
}

.shelf .subtitle {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 8px;
}

.shelf.success {
  border-bottom: 6px solid #8bc34a;
}

.shelf.failure {
  border-bottom: 6px solid #f44336;
}

.shelf.in-progress {
  border-bottom: 6px solid #03a9f4;
}

.shelf.disconnected {
  border-bottom: 6px solid #aaa;
}

.shelf.neutral {
  border-bottom: 6px solid #888;
}

.breadcrumbs {
  font-size: 16px;
  color: #aaa;
  margin-bottom: 8px;
}

.breadcrumbs > :not(:last-child)::after {
  content: "›";
  padding: 0 8px;
  color: #ccc;
  font-weight: 600;
}

.shelf .details {
  font-size: 16px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.shelf .detail {
  display: flex;
  align-items: center;
  margin-right: 32px;
  margin-top: 8px;
}

.shelf .details .icon {
  margin-right: 8px;
}

.shelf .details img:first-of-type {
  margin-left: 0;
}

svg.icon {
  /* Default icon color is gray */
  stroke: #616161;
  /* By default, icons should not get squished */
  flex-shrink: 0;
}

svg.icon.white {
  stroke: #fff;
}

svg.icon.gray,
svg.icon.grey {
  stroke: #616161;
}

svg.icon.black {
  stroke: #000;
}

svg.icon.green {
  stroke: #8bc34a;
}

svg.icon.red {
  stroke: #f44336;
}

svg.icon.blue {
  stroke: #03a9f4;
}

svg.icon.brown {
  stroke: #774a21;
}

svg.icon.purple {
  stroke: #673ab7;
}

svg.icon.orange {
  stroke: #ff6f00;
}

.rotate-90 {
  transform: rotate(90deg);
}

.org-button {
  float: right;
  background-color: rgba(38, 50, 56, 1);
  padding: 8px 16px;
  border-radius: 32px;
  margin-top: -6px;
  color: #fff;
  font-weight: 600;
}

/** Tabs **/

.tabs {
  display: flex;
  align-items: center;
  margin-top: 16px;
  flex-wrap: wrap;
}

.tab {
  border-radius: 50px;
  border: 1px solid #eee;
  margin-right: 8px;
  padding: 12px 24px;
  cursor: pointer;
  margin-top: 8px;
  color: #9e9e9e;
  text-align: center;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}

.tab:hover {
  background: #fafafa;
}

.tab:active {
  background: #f5f5f5;
}

.tab.selected {
  background: rgba(38, 50, 56, 1);
  color: #fff;
}

/** Runs **/

.runs {
  display: flex;
  align-items: center;
  margin-top: 16px;
  flex-wrap: wrap;
}

.run {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 8px;
  padding: 12px 32px 8px 32px;
  cursor: pointer;
  margin-top: 8px;
  text-align: center;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid transparent;
}

.run-grid .run {
  margin-right: 6px;
  margin-top: 6px;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 2px;
  color: transparent;
  overflow: hidden;
}

.run.test-passed {
  background-color: #8bc34a;
}

.run.test-failed {
  background-color: #f44336;
}

.run.test-error {
  background-color: #000;
}

.run.test-flaky {
  background-color: #888;
}

.run.selected {
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}

/** Card **/

.card {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1), 0px 1px 6px rgba(0, 0, 0, 0.05);
  margin: 32px 0;
  padding: 32px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  background-color: #fff;
}

.card.card-hovered,
.card:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1), 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.card.card-success {
  border-left: 6px solid #8bc34a;
}

.card.card-skipped {
  border-left: 6px solid #673ab7;
}

.card.card-failure {
  border-left: 6px solid #f44336;
}

.card.card-flaky {
  border-left: 6px solid #ff6f00;
}

.card.card-timeout {
  border-left: 6px solid #616161;
}

.card.card-broken {
  border-left: 6px solid #000;
}

.card.card-neutral {
  border-left: 6px solid #888;
}

.card.card-disconnected {
  border-left: 6px solid #aaa;
}

.card.card-in-progress {
  border-left: 6px solid #03a9f4;
}

.card.card-suggestion {
  border-left: 6px solid transparent;
}

.card.dark {
  background-color: #222;
  color: #fff;
}

.card.light-terminal {
  background-color: #fafafa;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.card.light-terminal:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.dense .card.light-terminal:hover {
  box-shadow: none;
}

.history .card-hover {
  display: flex;
}

.history .card-hover .details {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.history .card-hover .details.details {
  margin-top: 8px;
  gap: 4px;
}

.history .card-hover .role-badge {
  font-size: 13px;
  padding: 1px 8px;
  border-radius: 12px;
}

.history .card-hover .details .detail {
  margin-right: 0;
  margin-top: 0;
}

.history .card-hover .icon {
  width: 16px;
  height: 16px;
}

.history .card .details:empty {
  display: none;
}

.card-hovered.card-success {
  border-left: 6px solid #7cb342;
}

.card-hovered.card-failure {
  border-left: 6px solid #e53935;
}

.card-hover {
  margin: 8px;
  min-width: 400px;
  padding: 16px 24px;
  box-sizing: border-box;
}

.card.card-hover .title.title {
  font-size: 16px;
  margin-right: 16px;
}

.card.card-hover .subtitle {
  font-size: 14px;
}

.card > .icon,
.card .title .icon {
  margin-right: 16px;
  padding-top: 1px;
}

.card .title {
  font-weight: 700;
  font-size: 18px;
}

.card .content {
  flex-grow: 1;
  width: 1px;
}

.card .details {
  line-height: 1.6em;
  word-break: break-all;
  white-space: pre-wrap;
}

.card .details:not(:first-child) {
  margin-top: 16px;
}

.card .more {
  margin-top: 16px;
  font-weight: 600;
  color: #263238;
  cursor: pointer;
  user-select: none;
}

.card-suggestion-message {
  word-break: normal;
  max-width: 800px;
}

.card-suggestion-message a {
  text-decoration: underline;
}

.card-suggestion-reason {
  margin-top: 8px;
  font-size: 0.8em;
  opacity: 0.7;
  max-width: 800px;
}

.card-suggestion .bazel-flag {
  white-space: nowrap;
}

.card-suggestion p {
  margin-top: 0;
}

.card-suggestion .suggestions-tab-link {
  margin-top: 8px;
}

.card-suggestion .break-all {
  word-break: break-all;
}

.card-suggestion .details {
  word-break: initial;
}

.suggestions .settings-link {
  font-size: 14px;
}

.dense .suggestions .settings-link {
  margin-left: 20px;
}

/** Home **/

.home {
  margin-top: 32px;
  margin-bottom: 72px;
}

.home .title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.home h2 {
  margin-top: 48px;
  margin-bottom: 16px;
}

.home b {
  font-weight: 600;
}

code {
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fafafa;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
}

.code-font {
  font-family: var(--code-font);
}

code:not(.inline-code) {
  display: block;
  padding: 24px 32px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.6em;
  white-space: nowrap;
  overflow-y: auto;
  max-width: 100%;
  position: relative;
}

code.wrap {
  white-space: pre-wrap;
}

code button {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 2px 16px;
  border: 0;
  background-color: #eee;
  border-radius: 8px;
  font-size: 0.6em;
  font-weight: bold;
  outline: 0;
  box-shadow: 0;
  cursor: pointer;
  line-height: inherit;
  text-transform: uppercase;
}

code[data-header] {
  padding: 40px 32px 24px 32px;
}

code[data-header]:before {
  content: attr(data-header);
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 32px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-bottom-right-radius: 8px;
  font-size: 0.8em;
  font-weight: bold;
  pointer-events: none;
}

.code {
  font-family: "Source Code Pro", monospace;
}

code .comment {
  color: #888;
}

.home p {
  margin-top: 32px;
}

.home p.callout {
  background-color: #ffe082;
  padding: 16px 32px;
  border-radius: 8px;
}

.home a {
  text-decoration: underline;
}

.setup .setup-step-header {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
}

.setup-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
  /* negate 8px margin-top on children, to prevent the first row from having a top margin */
  margin-top: -8px;
}

.setup-controls > * {
  margin-top: 8px;
  margin-right: 8px;
}

.setup-controls .group-container {
  background-color: #fafafa;
  border: 1px solid #eee;
  padding: 4px 16px 4px 0;
  min-height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setup-controls input {
  vertical-align: middle;
  margin-left: 16px;
}

.setup-controls label {
  padding-left: 8px;
  vertical-align: middle;
  user-select: none;
}

.setup-controls input,
.setup-controls label {
  cursor: pointer;
}

.setup-controls .group {
  display: flex;
  align-items: baseline;
}

.setup-controls .credential-picker {
  max-width: 256px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.setup .manage-keys-button {
  padding: 0;
}

.setup .manage-keys-button a {
  padding: 8px 16px;
  text-decoration: none;
}

.setup .no-api-keys {
  background: #e1f5fe;
  padding: 16px;
  border-radius: 8px;
}

.setup .no-api-keys-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* negate margin-top on children */
  margin-top: -8px;
}

.setup .no-api-keys-content > * {
  margin-top: 8px;
  margin-right: 8px;
}

.setup .downloads {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.setup .downloads a {
  background-color: #263238;
  color: #fff;
  padding: 7px 16px;
  margin-right: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.setup-notice {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #e1f5fe;
  margin-top: -16px;
  margin-bottom: 16px;
}

.group-section {
  display: flex;
  align-items: baseline;
}

/** Footer **/

.footer {
  color: #aaa;
  font-size: 0.8em;
  padding: 32px 32px 32px 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dark .footer {
  background-color: #263238;
}

.footer > :not(:last-child) {
  margin-right: 16px;
}

.footer img {
  height: 16px;
  opacity: 0.7;
}

/** History **/

.history .card {
  padding: 24 32px;
  margin: 32px 0;
}

.card .titles {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 4px 0;
}

.history .card .title {
  font-size: 24px;
  flex-shrink: 0;
  margin-right: 16px;

  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .subtitle {
  color: #aaa;
}

.history .details {
  font-size: 14px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
  flex-shrink: 1;
}

.history .detail {
  display: flex;
  align-items: center;
  margin-right: 24px;
  margin-top: 8px;
}

.history .details .icon {
  margin-right: 8px;
}

.history .details .icon:first-of-type {
  margin-left: 0;
}

.titles .role-badge {
  margin-right: 8px;
}

.role-badge {
  border-radius: 14px;
  padding: 2px 8px;
  flex-shrink: 0;
}

.role-badge.CI_RUNNER {
  background: #263238;
  color: white;
}

.role-badge.CI {
  background: #cfd8dc;
}

.empty-state .button {
  width: 100%;
  padding: 24px 64px;
  background-color: #263238;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  margin-bottom: 32px;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  text-align: center;
}

.empty-state b {
  font-weight: 600;
}

.load-more {
  width: 100%;
  padding: 24px 0;
  background-color: #263238;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  margin-bottom: 32px;
  cursor: pointer;
}

.load-more:disabled {
  background-color: #aaa;
  color: #fff;
}

/** Misc **/

.build-logs-card {
  position: relative;
  padding-bottom: 16px;
}

.inline-code {
  font-family: "Source Code Pro", monospace;
  background: #eee;
  border-radius: 4px;
  padding: 2px;
}

.disclaimer {
  color: #aaa;
  margin-top: 4px;
}

.list-grid {
  display: flex;
  color: #888;
  line-height: 1.8em;
}

.list-grid div:first-of-type {
  width: 1px;
  flex-grow: 2;
  color: #444;
  font-weight: 600;
}

.list-grid div {
  width: 1px;
  flex-grow: 1;
}

.list-grid div:last-of-type {
  text-align: right;
  color: #aaa;
}

.list-title {
  margin: 32px 0 8px 0;
  font-weight: 700;
  display: flex;
  font-size: 20px;
}

.timing .list-grid div:first-of-type {
  font-size: 12px;
  font-weight: 500;
}

.list-percent {
  background-color: #8bc34a;
  height: 6px;
  min-width: 1px;
  max-width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.list-percent:after {
  content: attr(data-percent);
  font-size: 8px;
  color: #888;
  font-weight: 300;
  display: block;
  position: absolute;
  right: -104px;
  top: -8px;
  width: 100px;
}

.sort-controls {
  display: flex;
  flex-wrap: wrap;
}

.sort-control {
  color: #888;
  margin-top: 4px;
  margin-right: 12px;
}

.sort-control:after {
  content: "•";
  margin-left: 12px;
}

.sort-control:last-of-type:after {
  display: none;
}

.sort-control .selected {
  color: #000;
  font-weight: 600;
}

.empty-state {
  margin-top: 16px;
  font-size: 16px;
}

.empty-state h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.empty-state .link {
  font-weight: bold;
  text-decoration: underline;
}

.target-status-icon {
  display: none;
}

.clickable {
  cursor: pointer;
}

.artifact-line {
  display: flex;
}

.artifact-line.sub-item {
  padding-left: 16px;
}

.artifact-name {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.artifact-view {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  color: #888;
  white-space: nowrap;
}

.artifact-view svg {
  width: 16px;
  height: 16px;
}

.artifact-section-title {
  color: #757575;
  margin-top: 8px;
}

.artifacts .artifact-list {
  padding-left: 32px;
}

.artifacts :is(.artifact-line, .artifact-hidden-count) {
  margin-top: 4px;
}

.artifacts .artifact-hidden-count {
  color: #bdbdbd;
  margin-bottom: 8px;
}

.scorecard-target-name {
  margin-top: 8px;
  color: #757575;
  display: block;
}

.scorecard-action-id {
  display: block;
  margin-top: 4px;
  font-weight: 600;
  text-decoration: underline;
}

.scorecard-action-id-list {
  padding-left: 32px;
  margin-bottom: 8px;
}

.scorecard-hidden-count {
  color: #bdbdbd;
  margin-top: 4px;
  margin-bottom: 8px;
}

.stat-cards {
  display: flex;
  flex-wrap: wrap;
}

.stat-cards .card {
  margin-right: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 16px 32px;
  flex-grow: 1;
  flex-shrink: 0;
}

.stat-cards .stat {
  font-size: 32px;
  font-weight: 600;
}

/** Tests **/

.target-page .target-history-button {
  display: flex;
  margin-left: 8px;
  gap: 8px;
}

.test-subtitle {
  margin-bottom: 8px;
  color: #aaa;
}

.test-suite-metrics {
  display: flex;
}

.test-case {
  display: flex;
  color: #888;
  line-height: 1.8em;
}

.test-case div:first-of-type {
  width: 1px;
  flex-grow: 2;
  color: #444;
  font-weight: 600;
}

.test-case div {
  width: 1px;
  flex-grow: 1;
}

.test-case div:last-of-type {
  text-align: right;
  color: #aaa;
}

.test-case-info {
  padding-left: 16px;
  border-left: 4px solid #eee;
}

.test-case-message {
  font-weight: 700;
}

.test-case-contents {
  white-space: pre-wrap;
  font-family: "Source Code Pro", monospace;
}

.test-class {
  font-weight: 300;
}

.command-line-arg {
  margin-left: 32px;
  margin-top: 8px;
  font-family: "Source Code Pro", monospace;
}

.command-line-arg:first-of-type {
  margin-left: 0;
}

/** Invocation */

.invocation-section {
  display: flex;
}

.invocation-section div {
  flex-grow: 1;
}

.invocation-command-line {
  border-top: 1px solid #eee;
  margin-top: 32px;
  padding-top: 32px;
}

.invocation-command-line:last-of-type {
  border-bottom: 0px;
  margin-bottom: 0;
}

.invocation-command-line-title {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  margin-bottom: 16px;
}

.invocation-section div.invocation-section-title {
  width: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
  margin-right: 16px;
  font-weight: 700;
}

.invocation-option-name {
  font-weight: 600;
  color: #444;
  margin-right: 4px;
}

.invocation-option-value {
  color: #222;
}

.invocation-option-dash,
.invocation-option-equal {
  color: #aaa;
  margin-right: 4px;
}

.invocation-chunk {
  color: #444;
  font-weight: 600;
}

.raw-event-title {
  font-weight: 600;
  cursor: pointer;
  margin-top: 4px;
}

/** Login **/

.login {
  background-color: #263238;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.login .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}

.login-hero {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-hero-title {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  line-height: 1.3em;
  margin-bottom: 8px;
  display: block;
}

.login-box {
  display: flex;
  justify-content: center;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-buttons button {
  display: block;
  width: 100%;
  padding: 16px 32px;
  font-weight: 600;
  border: 0;
  border-radius: 100px;
  margin-bottom: 12px;
  font-size: 18px;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.9);
  background-color: transparent;
  color: #fff;
  min-width: 360px;
}

.login-buttons button:nth-of-type(3) {
  border: 0;
  color: rgba(255, 255, 255, 0.4);
  background-color: transparent;
  margin-bottom: 0;
}

.login-buttons button:first-of-type {
  border: 3px solid rgba(255, 255, 255, 0.4);
  color: rgba(38, 50, 56, 1);
  background-color: #fff;
}

.login-interstitial {
  background-color: rgba(38, 50, 56, 1);
  min-height: calc(100vh - 200px);
}

.login-interstitial,
.login-interstitial .container,
.login-interstitial .login-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-interstitial .login-buttons {
  padding: 32px;
  border-radius: 16px;
}

.login-interstitial .login-buttons h2 {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

.login .on-prem {
  width: 100%;
  text-align: center;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 64px;
}

.login .on-prem a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}

.login .sso {
  margin-top: 32px;
  text-align: center;
}

.login .sso input {
  border-radius: 8px;
}

.login .sso button {
  margin-left: 4px;
  opacity: 0.8;
}

.login .sso button.active {
  opacity: 1;
}

@media (min-width: 801px) {
  .login-hero {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 32px;
    margin-right: 32px;
    max-width: 40%;
  }
}

@media (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }

  .login-box {
    flex-direction: column;
  }

  .login-hero {
    padding: 24px;
    text-align: center;
  }

  .login-buttons {
    padding: 0 8px;
  }
}

/** Grid **/

.grid {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.grid-grow .grid-block {
  flex-grow: 1;
}

.grid-block {
  display: block;
  min-width: 16px;
  height: 16px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 2px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.grid-block-success {
  background-color: #8bc34a;
}

.grid-block-failure {
  background-color: #f44336;
}

.grid-block-neutral {
  background-color: #888;
}

.grid-block-disconnected {
  background-color: #aaa;
}

.grid-block-in-progress {
  background-color: #03a9f4;
}

.grid-block-success:hover {
  background-color: #7cb342;
}

.grid-block-failure:hover {
  background-color: #e53935;
}

.grid-block-neutral:hover {
  background-color: #666;
}

.grid-block-disconnected:hover {
  background-color: #bbb;
}

.grid-block-in-progress:hover {
  background-color: #039be5;
}

/** Dense mode **/

.dense .container {
  max-width: 100%;
  padding: 0 16px;
}

.dense .nopadding-dense {
  padding: 0;
}

.dense .shelf {
  padding: 16px 0;
  border-bottom: 0;
}

.dense .menu {
  height: 64px;
}

.dense .menu .title img {
  height: 32px;
}

.dense .grid {
  padding: 0 16px;
  margin-bottom: 8px;
}

.dense .empty-state {
  padding: 0;
}

.dense .tabs {
  margin: 0;
}

.dense .filter {
  border-radius: 0;
  margin-top: 0;
  height: 36px;
}

.dense .tab {
  margin-top: 0;
  padding: 12px 16px;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  color: #444;
}

.dense .tab.selected {
  background-color: transparent;
  color: #455a64;
  position: relative;
}

.dense .tab.selected:after {
  display: block;
  content: " ";
  background-color: #455a64;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.dense .card {
  margin: 0;
  border-radius: 0;
  padding: 16px;
  box-shadow: none;
  border-top: 1px solid #eee;
}

.dense .card.card-hover {
  margin-top: 4px;
  border-radius: 8px;
  border-top: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1), 0px 1px 6px rgba(0, 0, 0, 0.05);
}

.dense .card .details {
  margin-top: 0px;
}

.dense .card > .icon,
.dense .card .title .icon {
  display: none;
}

.dense .list-grid div:first-of-type {
  font-weight: 400;
}

.dense .list-grid div:last-of-type {
  color: #888;
}

.dense .card .target-status-icon.target-status-icon {
  flex-grow: 0;
  display: initial;
  margin-right: 4px;
  width: 16px;
}

.dense .card .target-status-icon .icon {
  display: initial;
  width: 16px;
  padding-top: 0;
}

.dense-invocation {
  padding: 8px 16px;
}

.dense-invocation-title {
  font-weight: 700;
  font-size: 12px;
}

.dense-invocation-status-bar {
  border-top: 4px solid #888;
  background-color: #eee;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
}

.dense-invocation-status-bar.success {
  border-top: 4px solid #8bc34a;
  background-color: #e8f5e9;
}

.dense-invocation-status-bar.failure {
  border-top: 4px solid #f44336;
  background-color: #ffebee;
}

.dense-invocation-status-bar.in-progress {
  border-top: 4px solid #03a9f4;
  background-color: #e3f2fd;
}

.dense-invocation-status-bar.disconnected {
  border-top: 4px solid #aaa;
  background-color: #eee;
}

.dense-invocation-status-bar.neutral {
  border-top: 4px solid #888;
  background-color: #eee;
}

.dense-invocation-overview-grid {
  display: flex;
  background-color: #fff;
  overflow: auto;
}

.dense-invocation-overview-grid-chunk {
  flex-grow: 1;
  padding: 8px 16px;
  border-right: 1px solid #eee;
}

.dense-invocation-overview-grid-value {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.dense-invocation-overview-grid-value .icon {
  margin-right: 8px;
}

.dense .load-more {
  margin-bottom: 0;
  border-radius: 0;
}

.dense .history .card .title {
  font-size: 20px;
}

.dense .detail {
  margin-top: 4px;
}

/* Scrollbars */

.horizontal-scroll-track {
  position: absolute;
  bottom: 0;
  height: var(--scrollbar-width);
  left: 0;
  right: var(--scrollbar-width);
  background: transparent;
  overflow: hidden;
}

.horizontal-scroll-thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.horizontal-scroll-thumb,
.viewport::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.viewport::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.1);
}

.viewport::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.horizontal-scroll-thumb:hover,
.viewport::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

.horizontal-scroll-thumb:active {
  background: rgba(0, 0, 0, 1);
}

/** Flame chart */

.flame-chart {
  background: #f9f9f9;
  position: relative;
  width: 100%;
  height: 600px;
  margin: 24px 0;

  border-radius: 4px 2px 4px;
  overflow: hidden;

  user-select: none;

  --scrollbar-width: 14px;
  --controls-padding: 8px;
  --controls-height: 32px;
}

.flame-chart .flame-chart-sections {
  padding-bottom: calc(2 * var(--controls-padding) + var(--controls-height));
}

.flame-chart-controls {
  position: absolute;
  bottom: var(--scrollbar-width);
  right: var(--scrollbar-width);

  height: var(--controls-height);
  padding: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.flame-chart-controls button {
  width: var(--controls-height);
  height: var(--controls-height);

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(220, 220, 220, 0.8);
  backdrop-filter: blur(3px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27), 0 1px 1px rgba(255, 255, 255, 0.1) inset;
  border-radius: 2px;
  transition: 80ms ease-out;

  cursor: pointer;

  border: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.flame-chart-controls button:hover:not(:active) {
  background: white;
}

.flame-chart-controls button:active {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.flame-chart-hovered-block-info {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
  white-space: nowrap;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  backdrop-filter: blur(3px);
}

.flame-chart-hovered-block-info .data {
  color: #000;
}

.flame-chart-hovered-block-info.no-block-hovered {
  color: #888;
}

.flame-chart-hovered-block-info .hovered-block-title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -2px;
}

.flame-chart-hovered-block-info .hovered-block-details {
  color: #888;
}

.flame-chart-hovered-block-info .duration {
  font-size: 14px;
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid #eee;
  margin-bottom: 4px;
}

.flame-chart-timestamp-header {
  fill: rgba(220, 220, 220, 0.9);
}

.flame-chart-section {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;

  box-shadow: 0 1px -3px rgba(0, 0, 0, 0.12) inset;
}

.flame-chart-section-header {
  font-size: 13px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27);
  padding-left: 8px;
  /* NOTE: Height is set in JS */
}

.viewport::-webkit-scrollbar,
.viewport::-webkit-scrollbar-track {
  background: transparent;
}

.flame-chart .viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
}

.flame-chart .tracks {
  height: inherit;
  min-width: 100%;
  overflow: visible;
}

.flame-chart rect {
  stroke-width: 1;
  stroke: white;
  vector-effect: non-scaling-stroke;
}

.flame-chart rect.hover {
  opacity: 0.8;
  cursor: pointer;
}

.root-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  background-color: #fff;
}

.root-code,
.root-login {
  overflow-y: initial;
}

.content {
  flex-grow: 1;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.loading:before {
  content: "";
  display: block;
  animation: rotate 2s linear infinite;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  background-image: url("/image/loader.svg");
  background-size: cover;
}

.loading.loading-dark {
  background: #263238;
}

.loading.loading-dark-terminal {
  background: #222;
}

.loading.loading-dark:before,
.loading.loading-dark-terminal:before {
  background-image: url("/image/loader-white.svg");
}

.copy-icon {
  color: #888;
  cursor: pointer;
  height: 0.8em;
  width: 0.8em;
  margin-left: 0.2em;
}
