.horizontal-slider {
  padding: 8px 16px 24px 16px;
}

.slider-track {
  height: 4px;
  background-color: gray;
}

.slider-track-0 {
  background-color: #e0e0e0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.slider-track-2 {
  background-color: #e0e0e0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.slider-thumb {
}

.slider-thumb-circle {
  margin-top: -6px;
  width: 12px;
  height: 12px;
  border: 1px solid darkslategray;
  border-radius: 10px;
  background: darkslategray;
}

.slider-thumb-value {
  width: 48px;
  height: 48px;
  font-size: 12px;
  text-align: center;
}

.slider-thumb-1 .slider-thumb-circle {
  margin-left: 20px;
}

.slider-thumb-0 .slider-thumb-value {
  margin-left: -16px;
}

.slider-thumb-1 .slider-thumb-value {
  margin-right: -16px;
}
