version: "3.3"
services:
  grafana:
    image: grafana/grafana:7.3.5
    network_mode: "host"
    environment:
      - GF_SERVER_HTTP_PORT=4500
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Editor
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/var/lib/grafana/dashboards/buildbuddy.json
    volumes:
      - ./grafana/provisioning/local:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
