.create-repo-page {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

.create-repo-page .card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid hsl(240 5.9% 90%);
}

.create-repo-page .repo-block {
  flex-direction: column;
  width: 50vw;
  max-width: 600px;
  box-sizing: border-box;
  margin: 24px 0 0 0;
}

.create-repo-page .repo-create {
  gap: 16px;
}

.create-repo-page .repo-picker {
  display: flex;
}

.create-repo-page .login-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-repo-page .repo-picker {
  width: 100%;
  gap: 16px;
}

.create-repo-page .repo-picker > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.create-repo-page .repo-picker > div:last-of-type {
  flex-grow: 1;
}

.create-repo-page .repo-picker input,
.create-repo-page .repo-picker select,
.create-repo-page .repo-picker button,
.create-repo-page .deployment-config input {
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.2em;
  height: initial;
}

.create-repo-page .create-button,
.create-repo-page .permissions-button,
.create-repo-page .view-button,
.create-repo-page .code-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 32px;
  font-weight: 600;
  border: 0;
  border-radius: 100px;
  font-size: 18px;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.9);
  background-color: #000;
  color: #fff;
  transition: 300ms ease-in-out;
  box-sizing: border-box;
  gap: 8px;
}

.create-repo-page .view-buttons .view-button,
.create-repo-page .view-buttons .code-button {
  width: initial;
  flex-grow: 1;
}

.create-repo-page .view-buttons {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.create-repo-page .permissions-button {
  margin-bottom: 0;
}

.create-repo-page .view-button {
  background-color: #fff;
  color: #000;
  border-color: rgba(0, 0, 0, 0.1);
}

.create-repo-page .code-button {
  background-color: #4caf50;
}

.create-repo-page .create-button:disabled {
  background-color: #aaa;
  cursor: default;
}

.create-repo-page .repo-private {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.2em;
  cursor: pointer;
}

.create-repo-page .repo-title {
  font-size: 2em;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.create-repo-page .login-buttons .repo-title {
  margin-bottom: 24px;
}

.create-repo-page .repo-block.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.create-repo-page .repo-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.create-repo-page .running-actions {
  font-weight: 600;
}

.create-repo-page .running-actions a {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.create-repo-page .running-actions svg {
  margin-right: 8px;
}

.create-repo-page .deployment-configs {
  display: table;
  border-spacing: 16px;
  width: 100%;
}

.create-repo-page .deployment-config {
  display: table-row;
  align-items: center;
  gap: 16px;
}

.create-repo-page .deployment-config div {
  display: table-cell;
}

.create-repo-page .deployment-config div:first-of-type {
  font-family: monospace;
}

.create-repo-page .template {
  transition: all 100ms ease-in-out;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

.create-repo-page .template-block {
  padding-right: 0 !important;
}

.create-repo-page .template-metadata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  flex-grow: 1;
  flex-shrink: 0;
  width: calc(100% - 100px);
  overflow: hidden;
  padding-right: 8px;
}

.create-repo-page .template-name {
  font-weight: 800;
  font-size: 2.5em;
  line-height: 1.2em;
  max-height: 2.4em;
  display: block;
  overflow: hidden;
}

.create-repo-page .template-props {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.create-repo-page .template-repo {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.create-repo-page .template-repo-name {
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}

.create-repo-page .template-repo svg {
  flex-shrink: 0;
}

.create-repo-page .template-image {
  width: 100px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: 0 50%;
}
