html,
body {
  margin: 0;
  padding: 0;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  text-underline-offset: 4px;
}

body {
  /*
    Force scrollbar visibility on platforms where it cuts into the page area,
    to reduce jank when the content height changes.
  */
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 18px;
}

.home-page {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .new-query {
    color: #2196f3;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
  }

  .new-query:hover {
    background: #eee;
  }

  .queries-header {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .query-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }

  .query-list-item {
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;

    &:hover {
      background: #f5f5f5;
    }
  }

  .query-author,
  .query-date {
    color: #bdbdbd;
  }
}

.query-page {
  .editor-container {
    box-sizing: border-box;
    height: 360px;
  }
}

.toast {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 16px;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);

  display: flex;
  align-items: center;
  gap: 8px;

  &.hidden {
    transition: ease-in 128ms;

    opacity: 0;
    transform: translateY(4px);
  }

  &.visible {
    transition: ease-out 128ms;

    opacity: 1;
    transform: translateY(0);
  }

  &.status-ok {
    background: #e8f5e9;
    color: #1b5e20;
  }

  &.status-error {
    background: #ffebee;
    color: #b71c1c;
  }

  &.status-loading {
    background: #e3f2fd;
    color: #0d47a1;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.query-result {
  .no-data {
    padding: 16px;
    padding-left: 52px;
  }
}

.error {
  margin: 8px;
  border-radius: 8px;
  background: #ffebee;
  color: #b71c1c;
  padding: 16px;
  border: 2px solid #b71c1c;
}

.query-result-table-panel {
  max-width: 100%;
  overflow-x: auto;

  table {
    border: 1px solid #bdbdbd;
    border-collapse: collapse;
    font-size: 14px;
  }

  th,
  td {
    cursor: default;
    border: 1px solid #bdbdbd;
    padding: 2px 4px;
  }

  th.highlighted,
  td.highlighted {
    background: #e3f2fd;
  }

  th {
    border: 1px solid black;
    text-align: left;
  }

  .table-header-content {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .sort-icon {
    padding: 2px;
    user-select: none;
    cursor: pointer;
    margin-left: auto;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: #e1f5fe;
  }

  .sort-icon.hidden {
    opacity: 0.2;
    background: transparent;
  }

  .sort-icon.hidden:hover {
    opacity: 0.5;
  }

  .sort-icon.hidden:active {
    opacity: 1;
  }

  .right-align {
    text-align: right;
  }

  .null-value {
    color: #9e9e9e;
  }
}

.query-result-charts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(640px, 1fr));
}

.panel {
  margin: 8px;
  background: #fff;
  border-radius: 4px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  .panel-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
  }

  .panel-info {
    display: flex;
    gap: 16px;
  }

  .unsaved-indicator {
    opacity: 0;
  }

  .unsaved-indicator.unsaved {
    opacity: 1;
  }

  .panel-controls {
    display: flex;
    gap: 16px;
    margin-left: auto;
  }

  .panel-content {
    overflow-x: auto;
  }

  .panel-content.collapsed {
    display: none;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.panel-header {
  svg {
    width: 20px;
    height: 20px;
    color: #000;
  }

  > svg:first-child {
    color: #bdbdbd;
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  min-width: 32px;
  min-height: 32px;
  box-shadow: none;
  position: relative;

  &:hover {
    background: #fafafa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background: #f5f5f5;
    box-shadow: none;
  }
}

.panel-header {
  .icon-green {
    color: #43a047;
  }
}

.download-button.csv-download::after {
  content: "csv";
  display: inline-block;

  font-size: 9px;
  font-weight: bold;
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: -2px;
}

.plot {
  .u-title {
    text-align: left;
    padding-left: 100px;
    font-size: 14px;
  }
}
