.sidebar {
  flex-shrink: 0;
  width: 280px;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  font-size: 18px;
  user-select: none;
  white-space: nowrap;
  transition: 300ms ease-in-out;
}

.dark .sidebar {
  background-color: var(--color-bg-primary);
  border-right: 1px solid var(--color-shelf-border);
}

.sidebar {
  --sidebar-padding: 32px;
  color: #fff;
}

/* Applying border padding to children so that background colors can extend to the sidebar edges. */

.sidebar > * {
  padding: 0 var(--sidebar-padding);
}

.sidebar > :first-child {
  padding-top: var(--sidebar-padding);
}

.sidebar > :last-child {
  padding-bottom: var(--sidebar-padding);
}

.sidebar .logo {
  height: 36px;
  box-sizing: border-box;
  transition: 300ms ease-in-out;
}

.flipflop:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.sidebar .test-buddy-logo {
  position: relative;
  display: block;
  width: 216px;
  overflow: hidden;
  transform-origin: center;
  animation: test-buddy-logo-flip 600ms ease-in-out;
}

.test-buddy-logo-buildbuddy,
.test-buddy-logo-testbuddy {
  position: absolute;
  inset: 0;
}

.test-buddy-logo-buildbuddy {
  height: 100%;
  animation: test-buddy-logo-hide-buildbuddy 600ms both;
}

.test-buddy-logo-testbuddy {
  animation: test-buddy-logo-show-testbuddy 600ms both;
}

.test-buddy-logo-artwork {
  height: 100%;
  width: auto;
}

@keyframes test-buddy-logo-flip {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
}

@keyframes test-buddy-logo-hide-buildbuddy {
  0%,
  49.999% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@keyframes test-buddy-logo-show-testbuddy {
  0%,
  49.999% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

.sidebar .sidebar-header {
  height: 36px;
  margin-bottom: 24px;
}

.sidebar .sidebar-body {
  flex-grow: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.sidebar .sidebar-body::-webkit-scrollbar {
  display: none;
}

.sidebar .sidebar-item {
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #bdbdbd;
  white-space: nowrap;
  padding: 8px;
}
.sidebar .sidebar-item-text {
  opacity: 1;
  transition: 300ms ease-in-out;
}

.sidebar .sidebar-item.admin-only {
  color: #ffc107;
}

.sidebar .sidebar-item:hover,
.sidebar .sidebar-item.selected {
  color: #fff;
}

.sidebar .sidebar-item svg {
  padding-right: 16px;
  width: 18px;
  height: 18px;
  stroke: #bdbdbd;
  flex-shrink: 0;
}

.sidebar .sidebar-item:hover svg,
.sidebar .sidebar-item.selected svg {
  stroke: white;
}

.sidebar .sidebar-header:after {
  display: block;
  background-color: #212121;
  width: 164px;
  height: 40px;
  left: 50px;
  top: -40px;
  content: " ";
  position: relative;
  transition: 300ms ease-in-out;
  pointer-events: none;
  opacity: 0;
}

.sidebar .sidebar-toggle {
  display: none;
}

@media (min-width: 801px) {
  .sidebar.collapsed {
    width: 81px;
  }

  .sidebar.collapsed .logo {
    height: 30px;
    margin-left: -6px;
  }

  .sidebar.collapsed .test-buddy-logo-artwork {
    width: 190px;
    left: -7px;
    top: -16px;
  }

  .sidebar.collapsed .sidebar-header:after {
    opacity: 1;
    left: 36px;
    top: -36px;
  }

  .sidebar.collapsed .org-picker-profile {
    padding-left: 21px;
  }

  .sidebar.collapsed .sidebar-item-text {
    opacity: 0;
  }

  .sidebar .sidebar-toggle {
    display: flex;
  }
}
