.sidebar {
  flex-shrink: 0;
  width: 280px;
  background-color: #263238;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  font-size: 18px;
  user-select: none;
}

.sidebar {
  --sidebar-padding: 32px;
  color: #fff;
}

.dense .sidebar {
  --sidebar-padding: 16px;
}

/* Applying border padding to children so that background colors can extend to the sidebar edges. */

.sidebar > * {
  padding: 0 var(--sidebar-padding);
}

.sidebar > :first-child {
  padding-top: var(--sidebar-padding);
}

.sidebar > :last-child {
  padding-bottom: var(--sidebar-padding);
}

.sidebar .sidebar-footer {
  padding: 0;
}

.sidebar .logo {
  max-width: 216px;
  height: 36px;
  box-sizing: border-box;
}

.dense .sidebar .logo {
  height: 24.7px;
}

.sidebar .sidebar-header {
  margin-bottom: 32px;
}

.sidebar .sidebar-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

.sidebar .sidebar-profile-photo {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
}

.sidebar .sidebar-profile-name {
  color: #fff;
  margin-left: 16px;
  flex-grow: 1;
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
}

.sidebar .sidebar-profile-user {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar .sidebar-profile-org {
  color: rgb(255, 255, 255, 0.5);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar .sidebar-body {
  flex-grow: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar .sidebar-body::-webkit-scrollbar {
  display: none;
}

.sidebar .sidebar-item {
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #90a4ae;
}

.sidebar .sidebar-item.admin-only {
  color: #ffc107;
}

.sidebar .sidebar-item:hover,
.sidebar .sidebar-item.selected {
  color: #fff;
}

.sidebar .sidebar-item svg {
  margin-right: 16px;
  width: 18px;
  height: 18px;
  stroke: #90a4ae;
}

.sidebar .sidebar-item:hover svg,
.sidebar .sidebar-item.selected svg {
  stroke: white;
}

.sidebar .sidebar-footer:hover,
.sidebar .sidebar-footer.expanded {
  background-color: #455a64;
}

.sidebar .sidebar-profile,
.sidebar .sidebar-expanded-profile {
  padding: 24px var(--sidebar-padding);
}

.dense .sidebar .sidebar-profile,
.dense .sidebar .sidebar-expanded-profile {
  padding: 16px var(--sidebar-padding);
}

.sidebar .sidebar-expanded-profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar .sidebar-expanded-profile {
  margin-bottom: -8px;
}

.sidebar .default-photo {
  padding: 8px;
  box-sizing: border-box;
}

.sidebar .sidebar-profile-arrow {
  stroke: #90a4ae;
  margin-left: 4px;
  margin-right: -4px;
}

/** Org picker */

.sidebar .org-picker {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar .org-picker-header {
  font-size: 15px;
  text-transform: uppercase;
  opacity: 0.7;
  font-weight: 600;
}

.sidebar .org-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar .org-picker-item {
  white-space: nowrap;
  cursor: pointer;
  opacity: 0.7;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .org-picker-item-label {
  text-overflow: ellipsis;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
}

.sidebar .org-picker-item.selected,
.sidebar .org-picker-item:hover {
  opacity: 1;
}

/** Dense **/

.dense .sidebar {
  width: 180px;
  font-size: 15px;
}

.dense .sidebar,
.dense .sidebar .sidebar-item {
  font-size: 16px;
}

.dense .sidebar .sidebar-profile-photo {
  display: none;
}

.dense .sidebar .sidebar-profile-name {
  margin-left: 0;
}

.dense .sidebar .sidebar-item svg {
  margin-right: 12px;
  width: 16px;
  height: 16px;
}
