.menu-list {
  margin: 0;
  padding: 8px 0;
  list-style: none;
  color: var(--color-menu-text);
}

.menu-list-item {
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;

  white-space: nowrap;
}

.menu-list-item:hover {
  background: var(--color-menu-hover-bg);
}

.menu-list-item.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: transparent;
}
