.bb-menu {
  margin: 0;
  padding: 8px 0;
  list-style: none;
}

.bb-menu-item {
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;

  white-space: nowrap;
}

.bb-menu-item:hover {
  background: #eee;
}

.bb-menu-item.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
