.base-button {
  padding: 8px 16px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  border: 0;
  border-radius: 8px;
  transition: border 200ms ease;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  flex-shrink: 0;
  align-self: center;
  display: inline-flex;
  align-items: center;
  outline: 2px solid transparent;
}

.filled-button {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}

.filled-button:focus {
  outline: 2px solid var(--color-border-focus);
}

.filled-button.destructive {
  background-color: var(--color-button-destructive-bg);
}

.filled-button:hover {
  background-color: var(--color-button-primary-hover);
  box-shadow: 0 1px 3px var(--color-button-primary-active-shadow);
}

.filled-button.destructive:hover {
  background-color: var(--color-button-destructive-hover);
}

.filled-button.destructive:active {
  background-color: var(--color-button-destructive-active);
}

.filled-button:active {
  box-shadow: none;
}

/* Extra specificity here so the [disabled] style takes precedence. */
.filled-button.filled-button.filled-button[disabled],
.filled-button.filled-button.filled-button[disabled]:hover {
  background: var(--color-button-disabled-bg);
  color: var(--color-button-disabled-text);
  cursor: not-allowed;
  box-shadow: none;
}

.outlined-button {
  background: transparent;
  border: 1px solid var(--color-button-outlined-border);
  flex-shrink: 1;
  overflow: hidden;
}

.outlined-button:focus {
  border: 1px solid var(--color-button-outlined-focus-border);
}

.outlined-button.destructive {
  color: var(--color-button-destructive-text);
}

.outlined-button:hover:not(:active) {
  transition: background-color 200ms ease;
  background: var(--color-button-outlined-hover-bg);
}

.outlined-button:hover:not(:focus) {
  border: 1px solid var(--color-button-outlined-hover-border);
}

.outlined-button:active {
  background: var(--color-button-outlined-active-bg);
}

/* Extra specificity here so the [disabled] style takes precedence. */
.outlined-button.outlined-button.outlined-button[disabled],
.outlined-button.outlined-button.outlined-button[disabled]:hover {
  background: transparent;
  border: 1px solid var(--color-button-outlined-border);
  cursor: not-allowed;
}

.outlined-button span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.base-button.checkbox-button {
  padding: 0;
}

.checkbox-button label {
  padding: 8px 16px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-button input {
  cursor: pointer;
}

.checkbox-button label > :not(:last-child) {
  margin-right: 8px;
}

.outlined-button-group {
  background: transparent;
  display: flex;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid var(--color-button-outlined-border);
}

.outlined-button-group > .outlined-button.outlined-button.outlined-button,
.outlined-button-group > .outlined-button.outlined-button.outlined-button:hover {
  border: none;
  min-height: 38px; /* = 40px usual min-height - 1px for top + bottom border from parent */
}

.outlined-button-group > .outlined-button.outlined-button:not(:last-child),
.outlined-button-group > .outlined-button.outlined-button:not(:last-child):hover {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid var(--color-button-outlined-border);
}

.outlined-button-group > .outlined-button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.icon-button {
  padding: 0;
  width: 40px;
  justify-content: center;
  flex-shrink: 0;
}

.big-button {
  padding: 16px 32px;
}

.small-button {
  font-size: 14px;
  padding: 4px 16px;
  line-height: 14px;
  min-height: 28px;
}
