.history-invocation-card {
  position: relative;
}

.history-invocation-card .comparison-buffer-illustration {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  margin-right: 0;
}

.history a.text-link {
  text-decoration: underline;
}

.history .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 8px;
  --gap: 8px;
  margin-top: calc(-1 * var(--gap));
  margin-right: calc(-1 * var(--gap));
}

.history .top-bar > * {
  margin-right: var(--gap);
  margin-top: var(--gap);
}

.history .breadcrumbs {
  margin-bottom: 0;
}

.history .details.loading-details {
  display: flex;
  margin-top: 16px;
  gap: 8px;
}
