.history-invocation-card {
  position: relative;
}

.history-invocation-card .comparison-buffer-illustration {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  margin-right: 0;
}

.history a.text-link {
  text-decoration: underline;
}

.history .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.history .breadcrumbs {
  margin-bottom: 0;
}
