.history .top-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
  gap: 8px;
}

.history .details.loading-details {
  display: flex;
  margin-top: 16px;
  gap: 8px;
}

.history .actions {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
