global:
  scrape_interval: 1s
  evaluation_interval: 1s

scrape_configs:
  - job_name: buildbuddy-app
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: buildbuddy-executor
    static_configs:
      - targets: ["localhost:9091"]
