.blogPostTitle {
  font-size: 3rem;
}

.blogPostDate {
  color: #666;
}

.blogAuthorTitle {
  margin-top: 2rem;
}

.subtitle {
  font-weight: 500;
  color: var(--ifm-color-emphasis-600);
}

.heading {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 0.9rem;
  margin: 24px 0;
}

.headingPhoto {
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 100px;
}

.avatar {
  display: flex;
  margin: 32px 0;
}

.authorName {
  font-weight: 500;
}

.tags {
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.tag {
  padding: 2px 12px;
  border: 1px solid #eee;
  border-radius: 8px;
}

.readMore {
  display: block;
  width: 100%;
}

.readMore a {
  display: block;
  width: calc(100% - 32px);
  color: #fff;
  background-color: #263238;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
}
