h1,
.blogPostTitle {
  font-size: 64px;
  line-height: 72px;
  text-wrap: pretty;
}

.blogPostTitleGrid {
  font-size: 48px;
  line-height: 54px;
  text-wrap: balance;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: initial;
}

.blogPostDate {
  color: #666;
}

.blogAuthorTitle {
  margin-top: 2rem;
}

.subtitle {
  font-weight: 500;
  color: var(--ifm-color-emphasis-600);
}

.heading {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 0.9rem;
  margin: 24px 0;
}

.headingPhoto {
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 100px;
}

.avatar {
  display: flex;
  margin: 32px 0;
}

.authorName {
  font-weight: 500;
}

.tags {
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.tag {
  padding: 2px 12px;
  border: 1px solid #eee;
  border-radius: 8px;
}

.readMore {
  display: block;
  width: 100%;
}

.readMore a {
  display: block;
  width: calc(100% - 32px);
  border: 2px solid #ddd;
  color: #000;
  text-align: center;
  border-radius: 64px;
  padding: 16px;
  margin: 16px;
}

.readMore a:hover {
  background-color: #fafafa;
}

.articleGrid {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px -0.5px rgba(0, 0, 0, 0.12),
    0px 3px 3px -1.5px rgba(0, 0, 0, 0.12), 0px 6px 6px -3px rgba(0, 0, 0, 0.12);
  padding: 32px 24px;
  border-radius: 16px;
  cursor: pointer;
  max-height: 500px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.articleGrid:after {
  content: "";
  display: block;
  position: absolute;
  height: 128px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(transparent, white);
}

.articleGrid:hover {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px -0.5px rgba(0, 0, 0, 0.12),
    0px 3px 3px -1.5px rgba(0, 0, 0, 0.12), 0px 6px 6px -3px rgba(0, 0, 0, 0.12), 0px 8px 12px -6px rgba(0, 0, 0, 0.12),
    0px 10px 24px -12px rgba(0, 0, 0, 0.12);
}
