.select-wrapper {
  position: relative;
  display: inline-block;
}

.select {
  font-size: inherit;
  font-family: inherit;
  height: 40px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(20, 20, 20, 0.1);
  transition: border 200ms ease;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  padding-right: 40px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: clip;
  /** make the select element fill the .select-wrapper parent */
  width: 100%;
}

.select:focus {
  outline: none;
  border: 1px solid rgba(20, 20, 20, 0.5);
}

.select:hover:not(:active) {
  transition: background-color 200ms ease;
  background-color: rgba(20, 20, 20, 0.1);
}

.select:hover:not(:focus) {
  border: 1px solid transparent;
}

.select-wrapper .dropdown-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
}
