.picker-container {
  height: 50vh;
}

.picker {
  box-shadow:
    0 4px 6px -1px var(--color-shadow-sm),
    0 2px 4px -2px var(--color-shadow-sm);
  background-color: var(--color-picker-bg);
  color: var(--color-text-primary);
  max-width: 450px;
  width: 80vw;
  border-radius: 0.5rem;
  border: 1px solid var(--color-picker-border);
  max-height: 50vh;
  display: flex;
  flex-direction: column;
}

.picker-options {
  padding: 4px 0;
  overflow-y: auto;
}

.picker-option {
  cursor: pointer;
  padding: 6px 16px;
}

.picker-option.selected {
  background-color: var(--color-picker-option-hover);
}

.picker-options-label {
  padding: 8px 16px 4px 16px;
  color: var(--color-picker-label);
  font-size: 0.8em;
}

.picker-search {
  display: flex;
  align-items: center;
}

.picker-search svg {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 12px;
  color: var(--color-picker-label);
}

.picker input {
  width: 100%;
  border: 0;
  padding: 12px 8px;
  padding-left: 40px;
  outline: 0;
  border-bottom: 1px solid var(--color-picker-input-border);
  background: transparent;
  color: var(--color-text-primary);
  font-family: inherit;
  font-size: inherit;
}
