.banner {
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: start;
}

.banner.banner-info {
  background: var(--color-banner-info-bg);
  color: var(--color-banner-info-text);
}

.banner.banner-success {
  background: var(--color-banner-success-bg);
  color: var(--color-banner-success-text);
}

.banner.banner-warning {
  background: var(--color-banner-warning-bg);
  color: var(--color-banner-warning-text);
}

.banner.banner-error {
  background: var(--color-banner-error-bg);
  color: var(--color-banner-error-text);
}

.banner > :not(:last-child) {
  margin-right: 8px;
}
