.global-filter {
  display: flex;
  align-self: flex-start;
  transition: background-color 300ms;
  border-radius: 8px;
  font-size: 15px;
  margin-left: auto;

  --row-height: 40px;
}

.global-filter > * {
  flex-shrink: 0;
}

.global-filter .filter-menu-popup {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}

.global-filter .filter-menu-popup .text-input {
  height: 32px;
  min-width: 320px;
}

.global-filter .filter-menu-popup .input-row-title {
  font-weight: 600;
  font-size: 15px;
  min-width: 80px;
}

.global-filter .filter-menu-popup .option-groups-row {
  display: flex;
}

.global-filter .option-group-title {
  font-weight: 600;
  font-size: 15px;
  background: white;
  padding: 4px 16px;
}

.global-filter .option-group {
  padding: 4px 0;
  padding-right: 16px;
}

.global-filter .option-group-options {
  display: flex;
  flex-direction: column;
}

.global-filter .option-group-options label {
  padding: 4px 16px;
  cursor: pointer;
  white-space: nowrap;
  min-height: 24px;
  display: flex;
  align-items: center;
  user-select: none;
}

.global-filter .option-group-options label > :not(:last-child) {
  margin-right: 8px;
}

.global-filter .option-group-input {
  padding: 0 16px;
}

.global-filter .option-group-input button {
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.global-filter .status-badge {
  flex-grow: 1;
  border: 1px solid #eee;
  border-left: 4px solid var(--status-color);
  border-radius: 4px;
  padding: 2px 8px;
}

.global-filter .status-block {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: var(--status-color);
}

.global-filter .success {
  --status-color: #8bc34a;
}
.global-filter .failure {
  --status-color: #f44336;
}
.global-filter .in-progress {
  --status-color: #03a9f4;
}
.global-filter .disconnected {
  --status-color: #aaa;
}

.global-filter .role-badge.DEFAULT {
  background: #eee;
}

.global-filter .square {
  width: var(--row-height);
  height: var(--row-height);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.global-filter .subtle-icon {
  opacity: 0.5;
}

.global-filter > :not(:last-child) {
  margin-right: 8px;
}

.global-filter .popup-wrapper {
  position: relative;
}

.global-filter .icon-text-button {
  max-height: var(--row-height);
}

.global-filter .icon-text-button > :not(:last-child) {
  margin-right: 8px;
}

.global-filter .filter-menu-button {
  max-width: 400px;
  flex-shrink: 1;
}

.global-filter .filter-menu-button .role-badge {
  font-size: 14px;
  font-weight: 500;
}

.global-filter .advanced-badge {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  background-color: #eceff1;
  border: 1px solid #eee;
  border-left: 4px solid var(--status-color);
  border-radius: 20px;
  padding: 2px 8px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.global-filter .advanced-badge svg {
  width: 12px;
  opacity: 0.5;
  margin-right: 4px;
  flex-shrink: 0;
}

.global-filter .filter-menu-button-label {
  color: #616161;
}

.global-filter .date-picker-popup {
  border-radius: 8px;
  overflow: hidden;
}

.global-filter .filter-menu-advanced-filter-toggle {
  padding: 16px 16px 0 16px;
  font-weight: 600;
  color: #607d8b;
  cursor: pointer;
}
