.global-filter {
  display: flex;
  transition: background-color 300ms;
  border-radius: 8px;

  --row-height: 40px;
}

.global-filter > * {
  flex-shrink: 0;
}

.global-filter .filter-menu-popup {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}

.global-filter .filter-menu-popup .text-input {
  height: 32px;
  min-width: 320px;
}

.global-filter .filter-menu-popup .input-row-title {
  font-weight: 600;
  font-size: 15px;
  min-width: 80px;
}

.global-filter .filter-menu-popup .option-groups-row {
  display: flex;
}

.global-filter .option-group-title {
  font-weight: 600;
  font-size: 15px;
  background: white;
  padding: 4px 16px;
}

.global-filter .option-group {
  padding: 4px 0;
  padding-right: 16px;
}

.global-filter .option-group-options {
  display: flex;
  flex-direction: column;
}

.global-filter .option-group-options label {
  padding: 4px 16px;
  cursor: pointer;
  white-space: nowrap;
  min-height: 24px;
  display: flex;
  align-items: center;
  user-select: none;
}

.global-filter .option-group-options label > :not(:last-child) {
  margin-right: 8px;
}

.global-filter .status-badge {
  flex-grow: 1;
  border: 1px solid #eee;
  border-left: 4px solid var(--status-color);
  border-radius: 4px;
  padding: 2px 8px;
}

.global-filter .status-badge.succeeded {
  --status-color: #8bc34a;
}
.global-filter .status-badge.failed {
  --status-color: #f44336;
}
.global-filter .status-badge.in-progress {
  --status-color: #03a9f4;
}
.global-filter .status-badge.disconnected {
  --status-color: #aaa;
}

.global-filter .square {
  width: var(--row-height);
  height: var(--row-height);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.global-filter .subtle-icon {
  opacity: 0.5;
}

.global-filter > :not(:last-child) {
  margin-right: 8px;
}

.global-filter .popup-wrapper {
  position: relative;
}

.global-filter .icon-text-button {
  max-height: var(--row-height);
}

.global-filter .icon-text-button > :not(:last-child) {
  margin-right: 8px;
}

.global-filter .filter-menu-button .role-badge {
  font-size: 14px;
  font-weight: 500;
}

.global-filter .filter-menu-button-label {
  color: #616161;
}

.global-filter .date-picker-popup {
  border-radius: 8px;
  overflow: hidden;
}
