/* Dark terminal colors */

/* Standard palette */

.terminal .ansi-fg-black {
  color: var(--color-black);
}
.terminal .ansi-fg-red {
  color: var(--color-red-400);
}
.terminal .ansi-fg-green {
  color: var(--color-green-400);
}
.terminal .ansi-fg-yellow {
  color: var(--color-yellow-400);
}
.terminal .ansi-fg-blue {
  color: var(--color-blue-400);
}
.terminal .ansi-fg-magenta {
  color: var(--color-purple-400);
}
.terminal .ansi-fg-cyan {
  color: var(--color-cyan-400);
}
.terminal .ansi-fg-white {
  color: var(--color-white);
}

/* High-intensity palette (except for gray, these are the same as standard for now) */

.terminal .ansi-fg-gray {
  color: var(--color-gray-400);
}
.terminal .ansi-fg-bright-red {
  color: var(--color-red-400);
}
.terminal .ansi-fg-bright-green {
  color: var(--color-green-400);
}
.terminal .ansi-fg-bright-yellow {
  color: var(--color-yellow-400);
}
.terminal .ansi-fg-bright-blue {
  color: var(--color-blue-400);
}
.terminal .ansi-fg-bright-magenta {
  color: var(--color-purple-400);
}
.terminal .ansi-fg-bright-cyan {
  color: var(--color-cyan-400);
}
.terminal .ansi-fg-bright-white {
  color: var(--color-white);
}

/* Standard palette */

.terminal .ansi-bg-black {
  background-color: var(--color-black);
}
.terminal .ansi-bg-red {
  background-color: var(--color-red-400);
}
.terminal .ansi-bg-green {
  background-color: var(--color-green-400);
}
.terminal .ansi-bg-yellow {
  background-color: var(--color-yellow-400);
}
.terminal .ansi-bg-blue {
  background-color: var(--color-blue-400);
}
.terminal .ansi-bg-magenta {
  background-color: var(--color-purple-400);
}
.terminal .ansi-bg-cyan {
  background-color: var(--color-cyan-400);
}
.terminal .ansi-bg-white {
  background-color: var(--color-white);
}

/* High-intensity palette (except for gray, these are the same as standard for now) */

.terminal .ansi-bg-gray {
  background-color: var(--color-gray-400);
}
.terminal .ansi-bg-bright-red {
  background-color: var(--color-red-400);
}
.terminal .ansi-bg-bright-green {
  background-color: var(--color-green-400);
}
.terminal .ansi-bg-bright-yellow {
  background-color: var(--color-yellow-400);
}
.terminal .ansi-bg-bright-blue {
  background-color: var(--color-blue-400);
}
.terminal .ansi-bg-bright-magenta {
  background-color: var(--color-purple-400);
}
.terminal .ansi-bg-bright-cyan {
  background-color: var(--color-cyan-400);
}
.terminal .ansi-bg-bright-white {
  background-color: var(--color-white);
}

/* Light terminal color overrides */

/* Standard palette */

.terminal.light-terminal .ansi-fg-red {
  color: var(--color-red-600);
}
.terminal.light-terminal .ansi-fg-green {
  color: var(--color-green-700);
}
.terminal.light-terminal .ansi-fg-yellow {
  color: var(--color-yellow-800);
}
.terminal.light-terminal .ansi-fg-blue {
  color: var(--color-blue-600);
}
.terminal.light-terminal .ansi-fg-magenta {
  color: var(--color-purple-600);
}
.terminal.light-terminal .ansi-fg-cyan {
  color: var(--color-cyan-600);
}

/* High-intensity palette (except for gray, these are the same as standard for now) */

.terminal.light-terminal .ansi-fg-gray {
  color: var(--color-gray-600);
}
.terminal.light-terminal .ansi-fg-bright-red {
  color: var(--color-red-600);
}
.terminal.light-terminal .ansi-fg-bright-green {
  color: var(--color-green-700);
}
.terminal.light-terminal .ansi-fg-bright-yellow {
  color: var(--color-yellow-800);
}
.terminal.light-terminal .ansi-fg-bright-blue {
  color: var(--color-blue-600);
}
.terminal.light-terminal .ansi-fg-bright-magenta {
  color: var(--color-purple-600);
}
.terminal.light-terminal .ansi-fg-bright-cyan {
  color: var(--color-cyan-600);
}
