.brands {
  display: flex;
  background-color: #f8f8f8;
  padding: 48px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.brands img {
  max-height: 72px;
  opacity: 0.7;
}
