.featureflag {
  border-top: 1px solid #eee;
  padding: 20px;
}

.featureflag .status {
  margin-left: 10px;
}

.create-button {
  margin-bottom: 20px;
}

.flag-details {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.flag-details > * {
  margin-right: 20px;
}

.experiment-groups {
  flex-direction: column;
  padding: 20px;
}

.experiment-group {
  margin-left: 40px;
  display: flex;
}

.experiment-group > * {
  margin-left: 20px;
}

.group-toggle {
  display: flex;
  color: #6f6c6c;
  font-weight: bold;
}

.text-button {
  margin-left: 38px;
  color: #6f6c6c;
  font-weight: bold;
}

.load-more-groups {
  margin-top: 10px;
}

.assign-groups {
  display: flex;
  margin: 20px;
  width: 100%;
}

.assign-groups > * {
  margin-right: 20px;
}

.assign-groups > .assign-groups-slider {
  width: 40%;
}




/* Toggle CSS */

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5ac95e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
