h1,
h2,
h3,
h4,
h5,
body {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: 0;
}

/** Container **/

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;
}

/** Menu **/

.menu {
  height: 72px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 24px;
  z-index: 2;
  position: relative;
  background-color: rgba(38,50,56 ,1);
  color: #fff;
}

.menu .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu .container div {
  display: flex;
  align-items: center;
}

.menu .title img {
  height: 28px;
}

.menu-child-title {
  margin-left: 8px;
  font-weight: 400;
  color: rgba(255,255,255,.5);
}

.menu .icon {
  padding-top: 1px;
  cursor: pointer;
}

.menu .profile-photo {
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .95);
}

.menu .default-photo {
  padding: 8px;
  box-sizing: border-box;
}

.menu-control {
  cursor: pointer;
  opacity: .8;
}

.menu .title {
  color: rgba(255, 255, 255, .90);
}

.menu-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** Side menu **/

.side-menu-container {
  position: absolute;
}

.side-menu-shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.side-menu {
  position: absolute;
  top: 46px;
  right: 8px;
  background-color: rgba(38,50,56 ,1);
  color: #fff;
  padding: 8px 32px 32px 32px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
  font-size: 18px;
}

.side-menu li {
  margin-top: 16px;
  font-weight: 700;
  cursor: pointer;
}

/** Shelf **/

.shelf {
  background-color: #f8f8f8;
  border-bottom: 1px solid #eaeaea;
  padding: 32px 0;
  font-size: 14px;
}

.shelf b {
  font-weight: 600;
}

.shelf .titles {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.shelf .title {
  font-weight: 600;
  font-size: 32px;
  margin-right: 16px;
  margin-bottom: 8px;
}

.shelf .subtitle {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, .8);
  margin-bottom: 8px;
}

.breadcrumbs {
  font-size: 16px;
  color: #aaa;
  margin-bottom: 8px;
}

.breadcrumbs span:after {
  content: '›';
  padding: 0 8px;
  color: #ccc;
  font-weight: 600;
}

.breadcrumbs span:last-of-type:after {
  content: '';
}

.shelf .details {
  font-size: 16px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.shelf .detail {
  display: flex;
  align-items: center;
  margin-right: 32px;
  margin-top: 8px;
}

.shelf .details img {
  opacity: 0.5;
  margin-right: 8px;
}

.shelf .details img:first-of-type {
  margin-left: 0;
}

/** Tabs **/

.tabs {
  display: flex;
  align-items: center;
  margin-top: 16px;
  flex-wrap: wrap;
}

.tab {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .15);
  border-radius: 50px;
  margin-right: 8px;
  padding: 12px 32px;
  cursor: pointer;
  margin-top: 8px;
  color: #aaa;
  text-align: center;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 600;
}

.tab.selected {
  background: rgba(38,50,56 ,1);
  color: #fff;
}

/** Filter **/

.filter {
  margin-top: 24px;
  border-radius: 21px;
  height: 42px;
  background-color: #f3f3f3;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.filter img {
  width: 16px;
  height: 16px;
  opacity: .3;
  padding-left: 20px;
}

.filter-input {
  outline: 0;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  padding: 0 32px 0 42px;
  font-family: inherit;
  font-size: 14px;
  color: #888;
  width: 100%;
}

.filter-input::placeholder {
  color: #aaa;
}

/** Card **/

.card {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .10), 0px 1px 6px rgba(0, 0, 0, .05);
  margin: 32px 0;
  padding: 32px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  background-color: #fff;
}

.card.card-hovered,
.card:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .10), 0px 1px 10px rgba(0, 0, 0, .05);
}

.card.card-success {
  border-left: 6px solid #8BC34A;
}

.card.card-failure {
  border-left: 6px solid #f44336;
}

.card.dark {
  /* background-color: #263238; */
  background-color: #222;
  color: #fff;
}

.grid-block:hover .card-hover {
  display: flex;
}

.card-hovered.card-success {
  border-left: 6px solid #7CB342;
}

.card-hovered.card-failure {
  border-left: 6px solid #e53935;
}

.card-hover {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  margin: 8px 0;
  min-width: 360px;
  padding: 16px 24px;
  box-sizing: border-box;
}

.card.card-hover .title {
  font-size: 20px;
  margin-right: 16px;
}

.card.card-hover .subtitle {
  font-size: 16px;
}

.card .icon {
  margin-right: 16px;
  padding-top: 2px;
}

.card .title {
  font-weight: 700;
  font-size: 18px;
}

.card .content {
  flex-grow: 1;
  width: 1px;
}

.card .details {
  line-height: 1.6em;
  margin-top: 16px;
  word-break: break-all;
  white-space: pre-wrap;
}

.card .more {
  margin-top: 16px;
  font-weight: 600;
  color: #aaa;
  cursor: pointer;
}

/** Home **/

.home {
  margin-top: 32px;
  margin-bottom: 72px;
}

.home .title {
  font-size: 32px;
  font-weight: 700;  
}

.home code {
  display: block;
  padding: 32px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-top: 16px;
  background-color: #fafafa;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.6em;
  overflow-y: auto;
}

.code {
  font-family: 'Source Code Pro', monospace;
}

.home p {
  margin-top: 32px;
}

.home a {
  text-decoration: underline;
}

/** History **/

.history .card {
  padding: 24 32px;
  margin: 32px 0;
}

.card .titles {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.history .card .title {
  font-size: 24px;
  flex-shrink: 0;
  margin-right: 16px;
}

.card .subtitle {
  color: #aaa;
}

.history .card .content {
}

.history .details {
  font-size: 14px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
  flex-shrink: 1;
}

.history .detail {
  display: flex;
  align-items: center;
  margin-right: 24px;
  margin-top: 8px;
}

.history .details img {
  opacity: 0.5;
  margin-right: 8px;
}

.history .details img:first-of-type {
  margin-left: 0;
}

/** Misc **/

.terminal {
  height: 300px;
  overflow-x: auto;
}

.expanded .terminal {
  height: 1000px;
}

.disclaimer {
  color: #aaa;
  margin-top: 4px;
}

.list-grid {
  display: flex;
  color: #888;
  line-height: 1.8em;
}

.list-grid div:first-of-type {
  width: 1px;
  flex-grow: 2;
  color: #444;
  font-weight: 600;
}

.list-grid div {
  width: 1px;
  flex-grow: 1;
}

.list-grid div:last-of-type {
  text-align: right;
  color: #aaa;
}

.list-title {
  margin: 32px 0 8px 0;
  font-weight: 700;
  display: flex;
  font-size: 20px;
}


.list-percent {
  background-color: #8BC34A;
  height: 6px;
  min-width: 1px;
  max-width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;
}

.list-percent:after {
  content: attr(data-percent);
  font-size: 8px;
  color: #888;
  font-weight: 300;
  display: block;
  position: absolute;
  right: -104px;
  top: -8px;
  width: 100px;
}

.sort-control {
  color: #888;
  margin-top: 4px;
}

.sort-control .selected {
  color: #000;
  font-weight: 600;
}

.empty-state {
  margin-top: 16px;
  font-size: 16px;
}

.empty-state code {
  margin-top: 16px;
  display: block;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
  line-height: 1.6em;
}

.empty-state h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.empty-state .link {
  font-weight: bold;
  text-decoration: underline;
}

.target {
  display: flex;
  align-self: center;
}

.target-status-icon {
  display: none;
}

.clickable {
  cursor: pointer;
}

.artifact-name {
  font-weight: 600;
  text-decoration: underline;
  margin-left: 32px;
  margin-top: 4px;
  cursor: pointer;
}

.artifact-section-title {
  color: #aaa;
  margin-top: 8px;
}

.test-log {
  white-space: pre-wrap;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.4em;
  margin-top: 16px;
  word-break: break-word;
}

.test-subtitle {
  margin-top: 4px;
  color: #aaa;
}

.invocation-section {
  display: flex;
}

.invocation-section div {
  flex-grow: 1;
}

.invocation-command-line {
  border-top: 1px solid #eee;
  margin-top: 32px;
  padding-top: 32px;
}

.invocation-command-line:last-of-type {
  border-bottom: 0px;
  margin-bottom: 0;
}

.invocation-command-line-title {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  margin-bottom: 16px;
}

.invocation-section div.invocation-section-title {
  width: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
  margin-right: 16px;
  font-weight: 700;
}

.invocation-option-name {
  font-weight: 600;
  color: #444;
  margin-right: 4px;
}

.invocation-option-value {
  color: #222;
}

.invocation-option-dash,
.invocation-option-equal {
  color: #aaa;
  margin-right: 4px;
}

.invocation-chunk {
  color: #444;
  font-weight: 600;
}

.raw-event-title {
  font-weight: 600;
  cursor: pointer;
  margin-top: 4px;
}

.login {
  background-color: #263238;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.login .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.login-hero {
  border-right: 1px solid rgba(255, 255, 255, .5);
  padding-right: 32px;
  margin-right: 32px;
  color: rgba(255, 255, 255, .7);
  max-width: 40%;
  line-height: 1.6em;
}

.login-hero b {
  font-size: 36px;
  color: #fff;
  line-height: 1.3em;
  margin-bottom: -16px;
  display: block;
}

.login-buttons button {
  display: block;
  width: 100%;
  padding: 20px 32px;
  font-weight: 600;
  border: 0;
  border-radius: 100px;
  margin-bottom: 16px;
  font-size: 20px;
  cursor: pointer;
  border: 4px solid rgba(255, 255, 255, .9);
  background-color: transparent;
  color: #fff;
  min-width: 360px;
}

.login-buttons button:last-of-type {
  border: 4px solid rgba(255, 255, 255, .4);
  color: rgba(255, 255, 255, .4);
  background-color: transparent;
  margin-bottom: 0;
}

@media(max-width: 800px) {
  .login-hero {
    display: none;
  }
}

.grid {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.grid-grow .grid-block {
  flex-grow: 1;
}

.grid-block {
  display: block;
  min-width: 16px;
  height: 16px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 2px;
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;
}

.grid-block-success {
  background-color: #8BC34A;
}

.grid-block-failure {
  background-color: #f44336;
}

.grid-block-success.grid-block-hover {
  background-color: #7CB342;
}

.grid-block-failure.grid-block-hover {
  background-color: #e53935;
}

/**
 *  Default styles for xterm.js
 */

 .xterm {
  font-feature-settings: "liga" 0;
  position: relative;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.xterm.focus,
.xterm:focus {
  outline: none;
}

.xterm .xterm-helpers {
  position: absolute;
  top: 0;
  /**
   * The z-index of the helpers must be higher than the canvases in order for
   * IMEs to appear on top.
   */
  z-index: 5;
}

.xterm .xterm-helper-textarea {
  /*
   * HACK: to fix IE's blinking cursor
   * Move textarea out of the screen to the far left, so that the cursor is not visible.
   */
  position: absolute;
  opacity: 0;
  left: -9999em;
  top: 0;
  width: 0;
  height: 0;
  z-index: -5;
  /** Prevent wrapping so the IME appears against the textarea at the correct position */
  white-space: nowrap;
  overflow: hidden;
  resize: none;
}

.xterm .composition-view {
  /* TODO: Composition position got messed up somewhere */
  background: #000;
  color: #FFF;
  display: none;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}

.xterm .composition-view.active {
  display: block;
}

.xterm .xterm-viewport {
  /* On OS X this is required in order for the scroll bar to appear fully opaque */
  background-color: #000;
  overflow-y: scroll;
  cursor: default;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.xterm .xterm-screen {
  position: relative;
}

.xterm .xterm-screen canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.xterm .xterm-scroll-area {
  visibility: hidden;
}

.xterm-char-measure-element {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -9999em;
  line-height: normal;
}

.xterm {
  cursor: text;
}

.xterm.enable-mouse-events {
  /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
  cursor: default;
}

.xterm.xterm-cursor-pointer {
  cursor: pointer;
}

.xterm.column-select.focus {
  /* Column selection mode */
  cursor: crosshair;
}

.xterm .xterm-accessibility,
.xterm .xterm-message {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  color: transparent;
}

.xterm .live-region {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.xterm-dim {
  opacity: 0.5;
}

.xterm-underline {
  text-decoration: underline;
}


/** Dense mode **/

.dense .container {
  max-width: 100%;
  padding: 0;
}

.dense .shelf {
  padding: 0;
}

.dense .grid {
  padding: 0 16px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.dense .empty-state {
  padding: 0 16px;
}

.dense .history-overview.container {
  padding: 16px;
}

.dense .state-page .container,
.dense .home .container {
  padding: 0 32px;
}

.dense .state-page .shelf {
  padding: 48px 0;
}

.dense .tabs {
  margin: 0;
}

.dense .filter {
  border-radius: 0;
  margin-top: 0;
  height: 36px;
}

.dense .tab {
  margin-top: 0;
  padding: 12px 16px;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  color: #444;
}

.dense .tab.selected {
  background-color: transparent;
  color: #455A64;
  position: relative;
}

.dense .tab.selected:after {
  display: block;
  content: ' ';
  background-color: #455A64;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.dense .card {
  margin: 0;
  border-radius: 0;
  padding: 16px;
  box-shadow: none;
  border-top: 1px solid #eee;
}

.dense .card.card-hover {
  margin-top: 4px;
  border-radius: 8px;
  border-top: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .10), 0px 1px 6px rgba(0, 0, 0, .05);
}

.dense .card .list-grid {
  /* border-top: 1px solid #eee; */
}

.dense .card .details {
  margin-top: 8px;
}

.dense .card .icon {
  display: none;
}

.dense .menu .container {
  padding: 0 16px;
}

.dense .list-grid div:first-of-type {
  font-weight: 400;
}

.dense .list-grid div:last-of-type {
  color: #888;
}

.dense .target-status-icon {
  display: block;
  width: 16px;
  margin-right: 4px;
}

.dense-invocation {
  padding: 8px 16px;
}

.dense-invocation-title {
  font-weight: 700;
  font-size: 12px;
}

.dense-invocation-invocation-id {
}

.dense-invocation-status-bar {
  border-top: 4px solid #888;
  background-color: #eee;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
}

.dense-invocation-status-bar.succeeded {
  border-top: 4px solid #4CAF50;
  background-color: #E8F5E9;
}

.dense-invocation-status-bar.failed {
  border-top: 4px solid #b71c1c;
  background-color: #ffebee;
}

.dense-invocation-overview-grid {
  display: flex;
  background-color: #fff;
  overflow: auto;
}

.dense-invocation-overview-grid-chunk {
  flex-grow: 1;
  padding: 8px 16px;
  border-right: 1px solid #eee;
}

.dense-invocation-overview-grid-title {

}

.dense-invocation-overview-grid-value {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.dense-invocation-overview-grid-value .icon {
  margin-right: 8px;
}
