.text-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-link);
}

.text-link.plain {
  font-weight: 600;
}

.text-link.plain:not(:hover) {
  color: var(--color-link-plain);
}

.text-link:hover {
  color: var(--color-link-hover);
}
