.text-link {
  text-decoration: underline;
  cursor: pointer;
  color: #1565c0;
}

.text-link.plain {
  font-weight: 600;
}

.text-link.plain:not(:hover) {
  color: #000;
}

.text-link:hover {
  color: #2196f3;
}
