.buttons {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: stretch;
}

.image {
  max-width: 500px;
}

@media (max-width: 1200px) {
  .image {
    display: none;
  }
}
