.hero {
  overflow: hidden;
  min-height: calc(75vh);
  padding: 16px 0;
}

.hero:nth-of-type(even) {
  background-color: #f8f8f8;
}

.buttons {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: stretch;
}

.image div {
  background-image: none !important;
}

.image {
  max-width: 600px;
}

.image img {
  animation: 0.2s ease-in-out 0s 1 animateInFromRight;
}

.flipped .image img {
  animation: 0.2s ease-in-out 0s 1 animateInFromLeft;
}

.image.peekMore {
  max-width: 740px;
}

.bigImage {
  width: 100%;
}

.bigImage img {
  width: 60vw !important;
  max-width: 60vw !important;
  min-width: 750px;
}

.noImage .image {
  display: none;
}

.noImage div,
.noImage {
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  max-width: 100%;
}

.flipped > div:last-of-type {
  order: -1;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 996px) {
  .flipped > div:last-of-type {
    order: 1;
  }
}

@media (max-width: 1200px) {
  .hero > div {
    display: grid;
    grid-template-columns: 1fr 40%;
  }

  .hero > div.flipped {
    grid-template-columns: 40% 1fr;
  }

  .image img {
    max-width: 100% !important;
  }

  .bigImage {
    width: calc(100% + 34px);
  }

  .flipped .bigImage {
    width: calc(100%);
  }
}

@media (max-width: 996px) {
  .hero.hero {
    padding: 96px 0;
  }

  .hero > div {
    display: flex;
    align-items: center;
  }

  .image {
    max-width: 100%;
  }

  .image img {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100%;
  }

  .hero .image img {
    animation: 0.2s ease-in-out 0s 1 animateInFromBottom;
  }

  .hero .flipped .image img {
    animation: 0.2s ease-in-out 0s 1 animateInFromBottom;
  }
}

@keyframes animateInFromRight {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.snippet {
  background-color: #000;
  color: #fff;
  padding: 24px 32px;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  cursor: pointer;
  position: relative;
  flex-grow: 1;
}

.snippet svg {
  opacity: 0.5;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.snippet:hover:after {
  content: "Click to Copy";
  background-color: #aaa;
}

.snippet:hover:after,
.copied:after {
  display: block;
  color: #fff;
  padding: 4px 16px;
  font-size: 0.8em;
  border-radius: 32px;
  font-weight: 500;
  position: absolute;
  bottom: -36px;
  box-sizing: border-box;
  text-align: center;
}

.copied:after,
.copied:hover:after {
  content: "Copied!";
  background-color: #4caf50;
}
