.error-banner {
  position: absolute;
  z-index: 9000;

  left: 50%;
  margin-top: 32px;

  background: #ffcdd2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27), 0 3px 5px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 16px;

  display: flex;
  align-items: start;
}

.error-banner.hidden {
  pointer-events: none;
  opacity: 0;
  transform: translateX(-50%) translateY(-16px);
  transition: 128ms ease-in;
}

.error-banner.visible {
  opacity: 1;
  transform: translateX(-50%);
  transition: 128ms ease-out;
}

.error-banner > :not(:last-child) {
  margin-right: 8px;
}
