.settings .title.settings-title {
  margin-bottom: 0;
}

.settings-section {
  margin-top: 32px;
  border-top: 1px solid var(--color-border-primary);
  padding-top: 32px;
}

.settings-section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.settings-section-subtitle {
  margin-bottom: 16px;
}

.settings-option-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 1em;
}

.settings-option-description {
  margin-bottom: 16px;
}

.settings .settings-button,
.settings .settings-link-button a {
  padding: 16px 32px;
}

.settings .settings-link-button {
  padding: 0;
}

.settings .settings-button.success {
  background-color: var(--color-green-500);
  cursor: inherit;
}

.settings .organization-form .settings-option-title {
  margin-top: 0;
}

.settings .settings-layout {
  display: flex;
  padding: 32px 0;
}

.github-account-link .deprecation-notice {
  margin: 16px 0;
}

.github-account-link {
  max-width: 600px;
}

.github-account-link .linked-github-account-row {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--color-border-primary);
  padding: 16px;
  border-radius: 8px;
}

.github-account-link .linked-github-account-row .unlink-button {
  margin-left: auto;
}

.github-account-link-delete-modal .checkbox-input {
  margin-top: 3px;
}

.github-account-link .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.github-account-link .controls-row {
  display: flex;
  gap: 16px;
  align-items: center;
}

.github-settings-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.github-hovercard {
  margin: 12px;
  background: var(--color-settings-hovercard-bg);
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 1px 3px var(--color-shadow-strong);
  font-size: 14px;
  backdrop-filter: blur(3px);
  display: flex;
}

.setup-button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.setup-button-container .left-aligned-button {
  align-self: flex-start;
}

/* Large screen */
@media (min-width: 1281px) {
  .settings .settings-tabs {
    margin-right: 32px;
    width: 200px;
  }
}

.settings .github-app-installations {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--color-border-primary);
  margin-top: 16px;
}

.settings .github-app-installation {
  padding: 16px;
  box-sizing: border-box;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.settings .github-app-installation:not(:last-child) {
  border-bottom: 1px solid var(--color-border-primary);
}

.settings .github-app-installation .installation-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.settings .github-app-installation .installation-owner {
  margin-right: auto;
}

.settings .github-app-installation .installation-settings {
  display: flex;
  flex-direction: column;
}

.settings .github-app-installation .installation-settings .input-row .input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings .github-app-installation .installation-settings .input-row .input-label > * {
  margin-right: 8px;
}

.settings .github-app-installation .installation-settings .input-description {
  font-size: 14px;
  color: var(--color-settings-input-description);
  margin-top: 4px;
}

/* Medium to small screen */
@media (max-width: 1280px) {
  .settings .settings-layout {
    flex-direction: column;
  }

  .settings .settings-tabs {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--color-border-primary);
  }

  .settings .settings-tab-group {
    display: flex;
  }
}

.settings .settings-content {
  width: 800px;
  max-width: 100%;
}

.settings .settings-tab-group {
  --border: 1px solid var(--color-settings-tab-group-border);

  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: var(--border);
  border-radius: 4px;
  overflow: hidden;
}

.settings .settings-tab-group:not(:last-child) {
  margin-bottom: 16px;
}

.settings .settings-tab-group > :not(:last-child) {
  border-bottom: var(--border);
}

.settings .settings-tab-group-header {
  margin-bottom: 8px;
}

.settings .settings-tab-group-title {
  font-weight: 600;
}

.settings .settings-tab-group-subtitle {
  color: var(--color-settings-tab-subtitle);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.settings .settings-tab-group-title:not(:first-child) {
  margin-top: 16px;
}

.settings .settings-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 100ms ease-out;
}

.settings .settings-tab .icon {
  width: 20px;
  height: 20px;
}

.settings .settings-tab:hover {
  box-shadow: 0 1px 2px var(--color-shadow-lg);
}

.settings .settings-tab:not(.active-tab):hover {
  background: var(--color-settings-tab-hover-bg);
}

.settings .settings-tab:active,
.settings .settings-tab.active-tab {
  box-shadow: 0 1px 2px inset var(--color-shadow-lg);
}

.settings .settings-tab.active-tab {
  background: var(--color-settings-tab-active-bg);
  color: var(--color-settings-tab-active-text);
}

.settings .settings-tab::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  background: var(--color-teal-500);

  transform-origin: left;
  transform: scaleX(0);
  transition: 100ms ease-out;
}

.settings .settings-tab.active-tab::before {
  transform: initial;
}

.settings .settings-tab:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.settings .settings-tab:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.settings .banner-content > p:first-child {
  margin-top: 0;
}

.settings .banner-content > p:last-child {
  margin-bottom: 0;
}

.settings .settings-option-title:not(:first-child) {
  margin-top: 32px;
}

.settings-internal-section {
  margin-top: 32px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--color-settings-internal-bg);
}

.settings-button-group {
  display: flex;
  gap: 8px;
}

.settings-button-group .settings-button {
  flex: 1;
}

.settings-button-group .settings-button.selected {
  background-color: var(--color-settings-button-selected-bg);
  color: var(--color-settings-button-selected-text);
}

.settings .settings-tab.active-tab {
  background: var(--color-settings-tab-active-bg);
  color: var(--color-settings-tab-active-text);
}
