.dialog-card {
  max-width: 100%;
  width: 640px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.27), 0 3px 5px rgba(0, 0, 0, 0.12);

  padding: 16px 0;
  --dialog-side-padding: 24px;
}

.dialog-card .dialog-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 var(--dialog-side-padding);
}

.dialog-header > :not(:last-child) {
  margin-right: 8px;
}

.dialog-close-button {
  /* Style reset */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  /* Styling */
  align-self: start;
  flex-shrink: 0;
  cursor: pointer;
}

.dialog-close-button:hover {
  opacity: 0.7;
}

.dialog-close-button img {
  width: inherit;
  height: inherit;
}

.dialog-title {
  font-size: 24px;
}

.dialog-body {
  padding: 8px var(--dialog-side-padding);
  overflow-y: auto;
}
