name: Check Style

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  checkstyle:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'style skip')"

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: "1.17.2"

      - name: gofmt
        run: |
          gofmt -d . > gofmt-diff.txt || true
          echo "gofmt diff:"
          cat gofmt-diff.txt

      - name: buildifier
        run: |
          go install github.com/bazelbuild/buildtools/buildifier@3.4.0
          "$(go env GOPATH)/bin/buildifier" -d -r . > buildifier-diff.txt || true
          echo "buildifier diff:"
          cat buildifier-diff.txt

      - name: gazelle
        run: |
          go install github.com/bazelbuild/bazel-gazelle/cmd/gazelle@v0.23.0
          "$(go env GOPATH)/bin/gazelle" -mode diff > gazelle-diff.txt || true
          echo "gazelle diff:"
          cat gazelle-diff.txt

      - name: go deps
        run: |
          go install github.com/bazelbuild/bazel-gazelle/cmd/gazelle@v0.23.0
          GAZELLE_PATH="$(go env GOPATH)/bin/gazelle" tools/fix_go_deps.sh --diff &> go-deps-diff.txt || true
          echo "go deps diff:"
          cat go-deps-diff.txt

      - name: clang-format
        run: |
          git ls-files | grep '\.proto$' | xargs --no-run-if-empty -d'\n' clang-format -i --style=Google --dry-run &> clang-format-errors.txt || true
          clang-format --version
          echo "clang format errors:"
          cat clang-format-errors.txt

      - name: prettier
        # NOTE: Only run prettier on files that differ from master, since
        # prettier can be slow.
        run: |
          npm install --global prettier@2.2.1
          git merge-base HEAD origin/master |
            xargs git diff --name-only --diff-filter=AMRCT |
            grep -P '(README|\.(js|jsx|ts|tsx|html|css|yaml|yml|json|md))$' |
            ( xargs --no-run-if-empty --delimiter='\n' "$(npm bin --global)/prettier" --check 1>/dev/null || true ) &> prettier-errors.txt
          echo "prettier errors:"
          cat prettier-errors.txt

      - name: Check
        run: |
          echo "===== gofmt diff ====="
          cat gofmt-diff.txt
          echo "===== buildifier diff ====="
          cat buildifier-diff.txt
          echo "===== gazelle diff ====="
          cat gazelle-diff.txt
          echo "===== go deps diff (fix with tools/fix_go_deps.sh) ====="
          cat go-deps-diff.txt
          echo "===== clang-format errors ====="
          cat clang-format-errors.txt
          echo "===== prettier errors ====="
          cat prettier-errors.txt

          if [ -s gazelle-diff.txt ]; then exit 1; fi
          if [ -s go-deps-diff.txt ]; then exit 1; fi
          if [ -s gofmt-diff.txt ]; then exit 1; fi
          if [ -s buildifier-diff.txt ]; then exit 1; fi
          if [ -s clang-format-errors.txt ]; then exit 1; fi
          if [ -s prettier-errors.txt ]; then exit 1; fi
