name: "release-mac"

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      release_branch:
        description: "Git branch to checkout."
        required: true
        default: "master"
        type: string
      version_tag:
        description: "Version to tag release artifacts."
        required: true
        type: string

jobs:
  build:
    runs-on: macos-11
    if: "!contains(github.event.head_commit.message, 'release skip')"
    steps:
      - name: Configure variables
        id: vars
        run: |
          # Configure repo based on pushed tag if set
          if [ -z "${GITHUB_REF}" ]; then
            ref="${GITHUB_REF}"
            tag=${GITHUB_REF/refs\/tags\//}
          else
            # Otherwise the workflow must have been manually triggered with inputs
            ref="${{ inputs.release_branch }}"
            tag="${{ inputs.version_tag }}"
          fi
          echo "ref=$ref" >> $GITHUB_OUTPUT
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.vars.outputs.ref }}
          # We need to fetch git tags to obtain the latest version tag to report
          # the version of the running binary.
          fetch-depth: 0

      - name: Install bazelisk
        run: |
          curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.10.1/bazelisk-darwin-amd64"
          mkdir -p "${GITHUB_WORKSPACE}/bin/"
          mv bazelisk-darwin-amd64 "${GITHUB_WORKSPACE}/bin/bazel"
          chmod +x "${GITHUB_WORKSPACE}/bin/bazel"

      - name: Build and Upload Artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USE_BAZEL_VERSION: 6.4.0
        run: |
          export DEVELOPER_DIR=/Applications/Xcode_12.4.app/Contents/Developer
          "${GITHUB_WORKSPACE}/bin/bazel" build --config=release-mac --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_ORG_API_KEY }} //server/cmd/buildbuddy:buildbuddy //enterprise/server/cmd/server:buildbuddy //enterprise/server/cmd/executor:executor
          cp bazel-bin/server/cmd/**/**/buildbuddy buildbuddy-darwin-amd64
          cp bazel-bin/enterprise/server/cmd/**/**/buildbuddy buildbuddy-enterprise-darwin-amd64
          cp bazel-bin/enterprise/server/cmd/**/**/executor executor-enterprise-darwin-amd64
          gh release upload ${{ steps.vars.outputs.tag }} buildbuddy-darwin-amd64 buildbuddy-enterprise-darwin-amd64 executor-enterprise-darwin-amd64 --clobber
