name: Build Website

on:
  pull_request:
    branches:
      - master
    paths:
      - "docs/**"
      - "website/**"
      - "server/metrics/**"

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'website skip')"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Website
        run: |
          API_KEY="${{ secrets.BUILDBUDDY_ORG_API_KEY }}"
          API_KEY_ARGS=()
          if [[ "$API_KEY" ]]; then
            API_KEY_ARGS=("--remote_header=x-buildbuddy-api-key=$API_KEY")
          fi
          bazel build //website:website --config=ci "${API_KEY_ARGS[@]}"
