.audit-logs-page .popup-wrapper {
  position: relative;
  width: fit-content;
  margin-bottom: 10px;
}

.audit-logs {
  margin-top: 32px;
}

.audit-logs .user div,
.audit-logs .resource div {
  margin-bottom: 8px;
}

.audit-logs .request pre {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-all;
}

.audit-logs .icon-text-button > :not(:last-child) {
  margin-right: 8px;
}

.audit-logs .empty-state {
  margin-top: 16px;
}

.audit-logs .audit-logs-table {
  display: grid;
  grid-template-columns:
    minmax(100px, max-content) /*timestamp*/
    minmax(100px, max-content) /*user*/
    minmax(100px, max-content) /*resource*/
    minmax(100px, max-content) /*method*/
    minmax(300px, max-content) /*request*/;
  max-width: fit-content;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  background: #eee;
  gap: 1px;
}

.audit-logs :is(.audit-logs-header, .audit-log-entry) {
  display: contents;
}

.audit-logs :is(.audit-logs-header, .audit-log-entry) > * {
  padding: 8px;
  box-sizing: border-box;
}

.audit-logs .audit-logs-header > * {
  background: #fafafa;
  white-space: nowrap;
}

.audit-logs .audit-log-entry > * {
  background: white;
}
