.audit-logs-page .popup-wrapper {
  position: relative;
  width: fit-content;
  margin-bottom: 10px;
}

.audit-logs {
  margin-top: 32px;
}

.audit-logs .audit-logs-header {
  background-color: #fafafa;
  white-space: nowrap;
}

.audit-logs .user div,
.audit-logs .resource div {
  margin-bottom: 8px;
}

.audit-logs .request pre {
  margin: 0;
}

.audit-logs .icon-text-button > :not(:last-child) {
  margin-right: 8px;
}

.audit-logs .empty-state {
  margin-top: 16px;
}

.audit-logs .audit-logs-table {
  display: table;
  border-collapse: collapse;
}

.audit-logs :is(.audit-logs-header, .audit-log-entry) {
  display: table-row;
}

.audit-logs :is(.audit-logs-header, .audit-log-entry) > * {
  border: 1px solid #eee;
  display: table-cell;
  padding: 8px;
}
