.popup-shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-popup-shade);
  z-index: 6;
}

.popup {
  position: absolute;
  top: 100%;

  z-index: 6;

  border-radius: 4px;
  background: var(--color-popup-bg);
  box-shadow:
    0 1px 3px var(--color-popup-shadow),
    0 3px 5px var(--color-popup-shadow-alt);
}

.popup.anchor-right {
  right: 0;
}

.popup.anchor-left {
  left: 0;
}

.popup.anchor-center {
  left: 50%;
  transform: translateX(-50%);
}

.popup.anchor-center-right {
  right: 0;
  transform: translateX(25%);
}

.popup-container {
  position: relative;
}
